openapi: 3.1.0
info:
  title: Galley API
  version: 0.1.0
  description: The main Galley API spec where the Galley UI will be built upon
  license:
    name: Business Source License
    identifier: BUSL-1.1
servers:
  - url: https://api.galley.dev
    description: Hosted Platform - Development
  - url: https://api.galley.run
    description: Hosted Platform - Production
tags:
  - description: Manage vessel
    name: vessel
  - description: Manage the vessel engine
    name: vessel/engine
  - description: Manage vessel billing profile
    name: vessel/billing-profile
  - description: Manage vessel logbook
    name: vessel/logbook
  - description: Manage the vessel's SSH keys and other secrets shared accross tenants
    name: vessel/locker
  - description: Managing the crew of the vessel
    name: vessel/crew
  - description: Manage charters within a vessel
    name: charter
  - description: Manage charter billing profile
    name: charter/billing-profile
  - description: Manage charter logbook
    name: charter/logbook
  - description: Managing the crew of the charter
    name: charter/crew
  - description: Manage compute plans within a charter where applications and databases can be applied to
    name: charter/compute-plan
  - description: Manage projects within a charter
    name: project
  - description: Manage applications within a project
    name: project/applications
  - description: Manage databases within a project
    name: project/databases
  - description: Manage secrets within a project
    name: project/secrets
  - description: Manage configs within a project
    name: project/configs
  - description: Manage API Gateway within a project
    name: project/api-gateway
  - description: Current user profile
    name: users/me
  - description: Manage API keys for the current user
    name: users/me/api-keys
  - description: Manage WebAuthn credentials for the current user
    name: users/me/webauthn
  - description: Authentication endpoints
    name: auth
  - description: The Chef AI Agent which can guide you through Galley and can give you recommendations specific to your needs on Vessel scope
    name: chef
  - description: Galley License information
    name: license
paths:
  /vessels:
    get:
      tags:
        - vessel
      summary: List vessels
      operationId: vessel.query.list
      security:
        - any: []
      responses:
        '200':
          description: The request was successful, and the server has returned the requested resource in the response body.
          content:
            application/vnd.galley.v1+json:
              schema:
                type: object
                title: ListVessels
                required:
                  - data
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/VesselSummary'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /vessels/{vesselId}/engine:
    parameters:
      - $ref: '#/components/parameters/vesselId'
    get:
      tags:
        - vessel/engine
      summary: Get vessel engine overview
      operationId: vessel.engine.query.list
      security:
        - vesselCaptain: []
        - charterCaptain: []
      responses:
        '200':
          description: The request was successful, and the server has returned the requested resource in the response body.
          content:
            application/vnd.galley.v1+json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/VesselEngine'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /vessels/{vesselId}/billing-profile:
    parameters:
      - $ref: '#/components/parameters/vesselId'
    post:
      tags:
        - vessel/billing-profile
      summary: Create vessel billing profile
      operationId: vessel.billingProfile.cmd.create
      security:
        - vesselCaptain: []
      requestBody:
        required: true
        description: Billing profile information to create
        content:
          application/vnd.galley.v1+json:
            schema:
              $ref: '#/components/schemas/BillingProfileCreate'
      responses:
        '201':
          description: The request was successful, and a new resource was created.
          content:
            application/vnd.galley.v1+json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/BillingProfile'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /vessels/{vesselId}/engine/nodes:
    parameters:
      - $ref: '#/components/parameters/vesselId'
    get:
      tags:
        - vessel/engine
      operationId: vessel.engine.node.query.list
      summary: List nodes within the engine
      security:
        - vesselCaptain: []
        - charterCaptain: []
      responses:
        '200':
          content:
            application/vnd.galley.v1+json:
              schema:
                type: object
                title: ListNodesInEngine
                required:
                  - data
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Node'
          description: The request was successful, and the server has returned the requested resource in the response body.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      summary: Create a node within the engine
      operationId: vessel.engine.node.cmd.create
      description: Creates a new record of type Node.
      tags:
        - vessel/engine
      security:
        - vesselCaptain: []
        - charterCaptain: []
      requestBody:
        required: true
        description: Node information to create
        content:
          application/vnd.galley.v1+json:
            schema:
              $ref: '#/components/schemas/NodeCreate'
      responses:
        '201':
          description: The request was successful, and a new resource was created.
          content:
            application/vnd.galley.v1+json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/Node'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /vessels/{vesselId}/engine/nodes/{nodeId}:
    parameters:
      - $ref: '#/components/parameters/vesselId'
      - $ref: '#/components/parameters/nodeId'
    get:
      summary: Get single node within the engine
      operationId: vessel.engine.node.query.get
      description: Returns a record of type Node.
      tags:
        - vessel/engine
      security:
        - vesselCaptain: []
        - charterCaptain: []
      responses:
        '200':
          description: The request was successful, and the server has returned the requested resource in the response body.
          content:
            application/vnd.galley.v1+json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Node'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    patch:
      summary: Update a node within the engine
      operationId: vessel.engine.node.cmd.patch
      description: Partially updates a record of type Node.
      tags:
        - vessel/engine
      security:
        - vesselCaptain: []
        - charterCaptain: []
      requestBody:
        required: true
        description: Updated node information
        content:
          application/vnd.galley.v1+json:
            schema:
              $ref: '#/components/schemas/NodePartialUpdate'
      responses:
        '200':
          description: The request was successful, and the server has returned the requested resource in the response body.
          content:
            application/vnd.galley.v1+json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/Node'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      summary: Delete a node within the engine, may be refused if there are still applications and/or databases running on the node
      operationId: vessel.engine.node.cmd.delete
      description: Deletes a record of type Node.
      tags:
        - vessel/engine
      security:
        - vesselCaptain: []
        - charterCaptain: []
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /vessels/engine/node:
    get:
      tags:
        - vessel/engine
      operationId: nodeAgent.vessel.engine.node.query.get
      summary: A special endpoint for the Galley Node Agent to get Vessel Node information as long as its provisioning status is marked "open"
      security:
        - galleyNodeAgent: []
      responses:
        '200':
          description: OK
          content:
            application/vnd.galley-node-agent.v1+json:
              schema:
                type: object
                title: GetVesselNode
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/Node'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /vessels/engine/node/{nodeId}:
    parameters:
      - $ref: '#/components/parameters/nodeId'
    patch:
      tags:
        - vessel/engine
      operationId: nodeAgent.vessel.engine.node.query.patch
      summary: A special endpoint for the Galley Node Agent to update Vessel Node information as long as its provisioning status is marked "open"
      security:
        - galleyNodeAgent: []
      requestBody:
        required: true
        description: Node information we may update from the Galley Node Agent
        content:
          application/vnd.galley-node-agent.v1+json:
            schema:
              $ref: '#/components/schemas/NodeAgentPartialUpdate'
      responses:
        '200':
          description: OK
          content:
            application/vnd.galley-node-agent.v1+json:
              schema:
                type: object
                title: GetVesselNode
                properties:
                  data:
                    $ref: '#/components/schemas/Node'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /vessels/{vesselId}/engine/regions:
    parameters:
      - $ref: '#/components/parameters/vesselId'
    get:
      tags:
        - vessel/engine
      summary: List registered regions within the engine
      operationId: vessel.engine.region.query.list
      security:
        - vesselCaptain: []
        - charterCaptain: []
      responses:
        '200':
          content:
            application/vnd.galley.v1+json:
              schema:
                type: object
                title: ListRegionsWithinTheEngine
                required:
                  - data
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/RegionSummary'
          description: The request was successful, and the server has returned the requested resource in the response body.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      summary: Create a region within the engine
      operationId: vessel.engine.region.cmd.create
      tags:
        - vessel/engine
      security:
        - vesselCaptain: []
        - charterCaptain: []
      requestBody:
        required: true
        content:
          application/vnd.galley.v1+json:
            schema:
              $ref: '#/components/schemas/RegionCreate'
      responses:
        '201':
          description: The request was successful, and a new resource was created.
          content:
            application/vnd.galley.v1+json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Region'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /vessels/{vesselId}/engine/regions/{regionId}:
    parameters:
      - $ref: '#/components/parameters/vesselId'
      - $ref: '#/components/parameters/regionId'
    get:
      summary: Get single region within the engine
      operationId: vessel.engine.region.query.get
      description: Returns a record of type Region.
      tags:
        - vessel/engine
      security:
        - vesselCaptain: []
        - charterCaptain: []
      responses:
        '200':
          description: The request was successful, and the server has returned the requested resource in the response body.
          content:
            application/vnd.galley.v1+json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Region'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    patch:
      summary: Update a region within the engine
      operationId: vessel.engine.region.cmd.patch
      tags:
        - vessel/engine
      security:
        - vesselCaptain: []
        - charterCaptain: []
      requestBody:
        required: true
        content:
          application/vnd.galley.v1+json:
            schema:
              $ref: '#/components/schemas/RegionPartialUpdate'
      responses:
        '200':
          description: The request was successful, and the resource was updated.
          content:
            application/vnd.galley.v1+json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Region'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      summary: Delete a region from the engine, may be refused if there are still nodes running in the region
      operationId: vessel.engine.region.cmd.delete
      tags:
        - vessel/engine
      security:
        - vesselCaptain: []
        - charterCaptain: []
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /vessels/{vesselId}/charters:
    parameters:
      - $ref: '#/components/parameters/vesselId'
    get:
      tags:
        - charter
      summary: List charters within this vessel. Will list all charters in vessel for vessel captains, will list a limited set of charters vessel members.
      operationId: charter.query.list
      security:
        - vesselCaptain: []
        - charterCaptain: []
        - charterBoatswain: []
        - charterDeckhand: []
        - charterSteward: []
        - charterPurser: []
      responses:
        '200':
          content:
            application/vnd.galley.v1+json:
              schema:
                type: object
                title: ListCharters
                required:
                  - data
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/CharterSummary'
          description: The request was successful, and the server has returned the requested resource in the response body.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      summary: Add a charter to the vessel
      operationId: charter.cmd.create
      description: Creates a new record of type Charter
      tags:
        - charter
      security:
        - vesselCaptain: []
      responses:
        '201':
          description: The request was successful, and a new resource was created.
          content:
            application/vnd.galley.v1+json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/Charter'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '500':
          $ref: '#/components/responses/InternalServerError'
      requestBody:
        required: true
        description: Charter creation data
        content:
          application/vnd.galley.v1+json:
            schema:
              $ref: '#/components/schemas/CharterCreate'
  /vessels/{vesselId}/charters/{charterId}:
    parameters:
      - $ref: '#/components/parameters/vesselId'
      - $ref: '#/components/parameters/charterId'
    get:
      tags:
        - charter
      summary: View a Charter within a Vessel. Charter Captains and Pursers can only see details of their own charter. Vessel Captains can see any charter within their vessel.
      operationId: charter.query.get
      security:
        - vesselCaptain: []
        - charterCaptain: []
        - charterPurser: []
      responses:
        '200':
          content:
            application/vnd.galley.v1+json:
              schema:
                type: object
                title: SingleCharter
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/Charter'
          description: The request was successful, and the server has returned the requested resource in the response body.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    patch:
      summary: Update a Charter
      operationId: charter.cmd.patch
      description: Partially updates a record of type Charter
      tags:
        - charter
      security:
        - vesselCaptain: []
      responses:
        '200':
          description: The request was successful, and the server has returned the requested resource in the response body.
          content:
            application/vnd.galley.v1+json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/Charter'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '500':
          $ref: '#/components/responses/InternalServerError'
      requestBody:
        required: true
        description: Charter update data
        content:
          application/vnd.galley.v1+json:
            schema:
              $ref: '#/components/schemas/CharterUpdate'
    delete:
      summary: Delete a Charter
      operationId: charter.cmd.delete
      description: Deletes a record of type Charter.
      tags:
        - charter
      security:
        - vesselCaptain: []
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /vessels/{vesselId}/charters/{charterId}/compute-plans:
    parameters:
      - $ref: '#/components/parameters/vesselId'
      - $ref: '#/components/parameters/charterId'
    get:
      tags:
        - charter/compute-plan
      summary: List compute plans for charter
      operationId: charter.computePlan.query.list
      security:
        - vesselCaptain: []
        - charterCaptain: []
        - charterPurser: []
      responses:
        '200':
          description: The request was successful, and the server has returned the requested resource in the response body.
          content:
            application/vnd.galley.v1+json:
              schema:
                type: object
                title: ListComputePlans
                required:
                  - data
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ComputePlan'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      tags:
        - charter/compute-plan
      summary: Create new compute plans for charter
      operationId: charter.computePlan.cmd.create
      security:
        - vesselCaptain: []
        - charterCaptain: []
        - charterPurser: []
      requestBody:
        required: true
        description: Billing profile information to create
        content:
          application/vnd.galley.v1+json:
            schema:
              $ref: '#/components/schemas/ComputePlanCreate'
      responses:
        '200':
          description: The request was successful, and the server has returned the requested resource in the response body.
          content:
            application/vnd.galley.v1+json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/ComputePlan'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /vessels/{vesselId}/charters/{charterId}/compute-plans/{computePlanId}:
    parameters:
      - $ref: '#/components/parameters/vesselId'
      - $ref: '#/components/parameters/charterId'
      - $ref: '#/components/parameters/computePlanId'
    get:
      tags:
        - charter/compute-plan
      summary: Get compute plan by ID
      operationId: charter.computePlan.query.get
      security:
        - vesselCaptain: []
        - charterCaptain: []
        - charterPurser: []
      responses:
        '200':
          description: The request was successful, and the server has returned the requested resource in the response body.
          content:
            application/vnd.galley.v1+json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/ComputePlan'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    patch:
      tags:
        - charter/compute-plan
      summary: Update project
      operationId: charter.computePlan.cmd.patch
      security:
        - vesselCaptain: []
        - charterCaptain: []
        - charterPurser: []
      requestBody:
        required: true
        description: Project update data
        content:
          application/vnd.galley.v1+json:
            schema:
              $ref: '#/components/schemas/ComputePlanUpdate'
      responses:
        '200':
          description: The request was successful, and the server has returned the requested resource in the response body.
          content:
            application/vnd.galley.v1+json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/ComputePlan'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      tags:
        - charter/compute-plan
      summary: Delete project
      operationId: charter.computePlan.cmd.delete
      security:
        - vesselCaptain: []
        - charterCaptain: []
        - charterPurser: []
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /vessels/{vesselId}/charters/{charterId}/projects:
    parameters:
      - $ref: '#/components/parameters/vesselId'
      - $ref: '#/components/parameters/charterId'
    get:
      tags:
        - project
      summary: List projects for charter
      operationId: project.query.list
      security:
        - any: []
      responses:
        '200':
          description: The request was successful, and the server has returned the requested resource in the response body.
          content:
            application/vnd.galley.v1+json:
              schema:
                type: object
                title: ListProjects
                required:
                  - data
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ProjectSummary'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      tags:
        - project
      summary: Create project
      operationId: project.cmd.create
      security:
        - vesselCaptain: []
        - charterCaptain: []
        - charterBoatswain: []
      requestBody:
        required: true
        description: Project creation data
        content:
          application/vnd.galley.v1+json:
            schema:
              $ref: '#/components/schemas/ProjectCreate'
      responses:
        '201':
          description: The request was successful, and a new resource was created.
          content:
            application/vnd.galley.v1+json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/Project'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /vessels/{vesselId}/charters/{charterId}/projects/{projectId}:
    parameters:
      - $ref: '#/components/parameters/vesselId'
      - $ref: '#/components/parameters/charterId'
      - $ref: '#/components/parameters/projectId'
    patch:
      tags:
        - project
      summary: Update project
      operationId: project.cmd.patch
      security:
        - vesselCaptain: []
        - charterCaptain: []
      requestBody:
        required: true
        description: Project update data
        content:
          application/vnd.galley.v1+json:
            schema:
              $ref: '#/components/schemas/ProjectUpdate'
      responses:
        '200':
          description: The request was successful, and the server has returned the requested resource in the response body.
          content:
            application/vnd.galley.v1+json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/Project'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      tags:
        - project
      summary: Delete project
      operationId: project.cmd.delete
      security:
        - vesselCaptain: []
        - charterCaptain: []
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /vessels/{vesselId}/charters/{charterId}/projects/{projectId}/applications:
    parameters:
      - $ref: '#/components/parameters/vesselId'
      - $ref: '#/components/parameters/charterId'
      - $ref: '#/components/parameters/projectId'
    get:
      tags:
        - project/applications
      summary: List applications for project
      operationId: listApplicationsForProject
      security:
        - vesselCaptain: []
        - charterCaptain: []
      responses:
        '200':
          description: The request was successful, and the server has returned the requested resource in the response body.
          content:
            application/vnd.galley.v1+json:
              schema:
                type: object
                title: ListApplications
                required:
                  - data
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ApplicationSummary'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      tags:
        - project/applications
      summary: Create application
      operationId: createApplication
      security:
        - vesselCaptain: []
        - charterCaptain: []
      requestBody:
        required: true
        description: Application creation data
        content:
          application/vnd.galley.v1+json:
            schema:
              $ref: '#/components/schemas/ApplicationCreate'
      responses:
        '201':
          description: The request was successful, and a new resource was created.
          content:
            application/vnd.galley.v1+json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/Application'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /vessels/{vesselId}/charters/{charterId}/projects/{projectId}/applications/{applicationId}:
    parameters:
      - $ref: '#/components/parameters/vesselId'
      - $ref: '#/components/parameters/charterId'
      - $ref: '#/components/parameters/projectId'
      - $ref: '#/components/parameters/applicationId'
    get:
      tags:
        - project/applications
      summary: Get application by ID
      operationId: getApplication
      security:
        - vesselCaptain: []
        - charterCaptain: []
      responses:
        '200':
          description: The request was successful, and the server has returned the requested resource in the response body.
          content:
            application/vnd.galley.v1+json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/Application'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    patch:
      tags:
        - project/applications
      summary: Update application
      operationId: updateApplication
      security:
        - vesselCaptain: []
        - charterCaptain: []
      requestBody:
        required: true
        description: Application update data
        content:
          application/vnd.galley.v1+json:
            schema:
              $ref: '#/components/schemas/ApplicationUpdate'
      responses:
        '200':
          description: The request was successful, and the server has returned the updated resource in the response body.
          content:
            application/vnd.galley.v1+json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/Application'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /vessels/{vesselId}/charters/{charterId}/connections:
    parameters:
      - $ref: '#/components/parameters/vesselId'
      - $ref: '#/components/parameters/charterId'
    get:
      tags:
        - connections
      summary: List OAuth connections for charter
      operationId: charter.connection.query.list
      security:
        - any: []
      parameters:
        - name: provider
          in: query
          required: false
          description: Filter by OAuth provider
          schema:
            type: string
            enum:
              - github
              - gitlab
              - bitbucket
              - dockerhub
              - ghcr
        - name: type
          in: query
          required: false
          description: Filter by connection type
          schema:
            type: string
            enum:
              - git
              - registry
        - name: status
          in: query
          required: false
          description: Filter by connection status
          schema:
            type: string
            enum:
              - pending
              - active
              - revoked
              - error
      responses:
        '200':
          description: List of OAuth connections for the charter
          content:
            application/vnd.galley.v1+json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/OAuthConnectionSummary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      tags:
        - connections
      summary: Create a new OAuth connection (admin only)
      description: Creates a new OAuth connection at charter level. Requires admin permissions.
      operationId: charter.connection.cmd.create
      security:
        - vesselCaptain: []
        - charterCaptain: []
      requestBody:
        required: true
        content:
          application/vnd.galley.v1+json:
            schema:
              type: object
              required:
                - type
                - provider
              properties:
                type:
                  type: string
                  enum:
                    - git
                    - registry
                  description: Type of OAuth connection
                provider:
                  type: string
                  enum:
                    - github
                    - gitlab
                    - bitbucket
                    - dockerhub
                    - ghcr
                  description: OAuth provider identifier
      responses:
        '201':
          description: OAuth connection created successfully
          content:
            application/vnd.galley.v1+json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/OAuthConnectionCreated'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /vessels/{vesselId}/charters/{charterId}/connections/approval:
    parameters:
      - $ref: '#/components/parameters/vesselId'
      - $ref: '#/components/parameters/charterId'
    post:
      tags:
        - connections
      summary: Complete OAuth connection flow
      description: Receives OAuth callback data from the frontend to complete the OAuth flow
      operationId: charter.connection.cmd.approve
      security:
        - any: []
      requestBody:
        required: true
        content:
          application/vnd.galley.v1+json:
            schema:
              type: object
              required:
                - provider
                - code
              properties:
                provider:
                  type: string
                  enum:
                    - github
                    - gitlab
                    - bitbucket
                    - dockerhub
                    - ghcr
                  description: OAuth provider identifier
                code:
                  type: string
                  description: OAuth authorization code from callback
                state:
                  type: string
                  description: State parameter for CSRF protection
                installation_id:
                  type: integer
                  description: GitHub App installation ID (for GitHub App flow)
                setup_action:
                  type: string
                  enum:
                    - install
                    - update
                  description: GitHub App setup action
                scope:
                  type: string
                  description: Granted OAuth scopes
      responses:
        '200':
          description: OAuth connection approved and created successfully
          content:
            application/vnd.galley.v1+json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/OAuthConnection'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /auth/refresh-token:
    post:
      tags:
        - auth
      summary: Refresh RefreshToken
      description: Rotate RefreshToken and return new RefreshToken. Will extend the RefreshToken's lifetime.
      operationId: auth.refreshToken.cmd.issue
      security: []
      requestBody:
        required: true
        content:
          application/vnd.galley.v1+json:
            schema:
              $ref: '#/components/schemas/RefreshToken'
      responses:
        '200':
          description: OK
          content:
            application/vnd.galley.v1+json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/RefreshToken'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /auth/access-token:
    post:
      tags:
        - auth
      summary: Refresh AccessToken
      description: Rotate AccessToken and return new AccessToken.
      operationId: auth.accessToken.cmd.issue
      security: []
      requestBody:
        required: true
        content:
          application/vnd.galley.v1+json:
            schema:
              $ref: '#/components/schemas/RefreshToken'
      responses:
        '200':
          description: OK
          content:
            application/vnd.galley.v1+json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/AccessToken'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /auth/sign-up:
    post:
      tags:
        - auth
      summary: Sign up
      operationId: auth.cmd.create
      security: []
      requestBody:
        required: true
        content:
          application/vnd.galley.v1+json:
            schema:
              $ref: '#/components/schemas/SignUp'
      responses:
        '200':
          description: OK
          content:
            application/vnd.galley.v1+json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/RefreshToken'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /auth/activate:
    post:
      tags:
        - auth
      summary: Activate Account after Sign up
      operationId: auth.account.cmd.grant
      security:
        - any: []
      requestBody:
        required: true
        content:
          application/vnd.galley.v1+json:
            schema:
              $ref: '#/components/schemas/AccountActivation'
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /auth/sign-in:
    post:
      tags:
        - auth
      summary: Sign in
      operationId: auth.cmd.issue
      security: []
      requestBody:
        required: true
        content:
          application/vnd.galley.v1+json:
            schema:
              $ref: '#/components/schemas/SignIn'
      responses:
        '200':
          description: OK
          content:
            application/vnd.galley.v1+json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/RefreshToken'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /auth/sign-out:
    delete:
      tags:
        - auth
      summary: Sign out
      operationId: auth.cmd.revoke
      security:
        - any: []
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /hooks/callback/oauth/github/app:
    get:
      tags:
        - auth
      summary: GitHub OAuth App callback
      operationId: hooks.callback.oauth.github.app
      security: []
      parameters:
        - name: code
          in: query
          required: true
          description: A temporary code that expires after 10 minutes
          schema:
            type: string
        - name: installation_id
          in: query
          required: true
          description: The ID of the GitHub App installation
          schema:
            type: integer
        - name: setup_action
          in: query
          required: true
          description: The setup action performed
          schema:
            type: string
            enum:
              - install
              - update
      responses:
        '200':
          description: Webhook received successfully
        '302':
          description: Redirect to the application after successful OAuth flow
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /license:
    get:
      tags:
        - license
      summary: Get Galley License information
      operationId: license.query.get
      security:
        - any: []
      responses:
        '200':
          description: OK
          content:
            application/vnd.galley.v1+json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/GalleyLicense'
        '402':
          description: Payment Required
          content:
            application/vnd.galley.v1+json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/GalleyLicense'
        '500':
          $ref: '#/components/responses/InternalServerError'
components:
  securitySchemes:
    any:
      type: http
      scheme: bearer
      description: Any User Role is allowed
      bearerFormat: JWT
      x-vessel-role: member
    vesselCaptain:
      type: http
      scheme: bearer
      description: Role Vessel Captain Acts as Charter Captain and is able to manage anything above the charter level.
      bearerFormat: JWT
      x-vessel-role: captain
    charterCaptain:
      type: http
      scheme: bearer
      description: Role Charter Captain Consider this role the Charter Admin, may do and see all project, charter and vessel related stuff where the charter is part of.
      bearerFormat: JWT
      x-vessel-role: member
      x-charter-role: captain
    charterPurser:
      type: http
      scheme: bearer
      description: Role Charter Purser May access charter billing and crew management but only view projects details
      bearerFormat: JWT
      x-vessel-role: member
      x-charter-role: purser
    charterBoatswain:
      type: http
      scheme: bearer
      description: Role Charter Boatswain May do and see all project related stuff
      bearerFormat: JWT
      x-vessel-role: member
      x-charter-role: boatswain
    charterDeckhand:
      type: http
      scheme: bearer
      description: Role Charter Deckhand May deploy but can not view secrets or project settings.
      bearerFormat: JWT
      x-vessel-role: member
      x-charter-role: deckhand
    charterSteward:
      type: http
      scheme: bearer
      description: Role Charter Steward This is a supporting role, may only view and monitor deploys.
      bearerFormat: JWT
      x-vessel-role: member
      x-charter-role: steward
    galleyNodeAgent:
      type: http
      scheme: bearer
      description: Access during engine node setup by the Galley Node Agent This token has a short TTL and gives access to a specific node while this is being provisioned.
      bearerFormat: JWT
  schemas:
    JSONAPIResource:
      type: object
      required:
        - id
        - type
        - attributes
      properties:
        id:
          type: string
          description: Resource identifier
        type:
          type: string
          description: Resource type
        attributes:
          type: object
          description: Resource attributes
    VesselSummary:
      allOf:
        - $ref: '#/components/schemas/JSONAPIResource'
        - type: object
          description: A simplified representation of a Vessel, typically used in list views.
          required:
            - id
            - type
            - attributes
          properties:
            id:
              type: string
              format: uuid
              description: Vessel ID (UUID)
            type:
              type: string
              enum:
                - Vessel
              description: Resource type
            attributes:
              type: object
              required:
                - name
                - createdAt
              properties:
                name:
                  type: string
                createdAt:
                  type: string
                  format: date-time
                  description: Creation timestamp
    VesselEngine:
      allOf:
        - $ref: '#/components/schemas/JSONAPIResource'
        - type: object
          description: Full VesselEngine entity representation for Single Get.
          required:
            - id
            - type
            - attributes
          properties:
            id:
              type: string
              format: uuid
              description: Unique engine identifier
              examples:
                - 123e4567-e89b-12d3-a456-426614174000
            type:
              type: string
              enum:
                - VesselEngine
              description: Resource type
            attributes:
              type: object
              required:
                - vesselId
                - name
                - mode
              properties:
                vesselId:
                  type: string
                  format: uuid
                  description: Vessel this engine belongs to
                name:
                  type: string
                  description: Engine name
                  examples:
                    - Production Cluster
                mode:
                  type: string
                  enum:
                    - managed_cloud
                    - managed_engine
                    - controlled_engine
                  description: Engine operation mode
                  examples:
                    - managed_engine
                agentConnectionStatus:
                  type: string
                  enum:
                    - connected
                    - disconnected
                    - error
                  description: Show connection with agent.
                  examples:
                    - disconnected
                lastAgentConnectionAt:
                  type:
                    - string
                    - 'null'
                  format: date-time
                lastConnectionError:
                  type:
                    - string
                    - 'null'
                  description: Shows what failure was registered last time the connection noticed an error
    BillingProfileCreate:
      type: object
      description: Request body for POST /billing-profiles.
      properties:
        companyName:
          type: string
          description: Company name
          examples:
            - Acme Corp
        billingTo:
          type: string
          description: Billing recipient name
          examples:
            - John Doe
        address1:
          type: string
          description: Address line 1
          examples:
            - 123 Main St
        address2:
          type: string
          description: Address line 2
          examples:
            - Suite 100
        postalCode:
          type: string
          description: Postal code
          examples:
            - '12345'
        city:
          type: string
          description: City
          examples:
            - Amsterdam
        state:
          type: string
          description: State/province
          examples:
            - North Holland
        country:
          type: string
          description: Country code (ISO 3166-1 alpha-2)
          pattern: ^[a-z]{2}$
          examples:
            - nl
        email:
          type: string
          description: Billing email
          examples:
            - billing@acme.com
        phone:
          type: string
          description: Phone number
          examples:
            - '+31201234567'
        vatNumber:
          type: string
          description: VAT number
          examples:
            - NL123456789B01
      additionalProperties: false
    BillingProfile:
      allOf:
        - $ref: '#/components/schemas/JSONAPIResource'
        - type: object
          description: A Generic Billing Profile
          required:
            - id
            - type
            - attributes
          properties:
            id:
              type: string
              format: uuid
            type:
              type: string
              enum:
                - VesselBillingProfile
              description: Resource type
            attributes:
              type: object
              properties:
                companyName:
                  type:
                    - string
                    - 'null'
                  description: Captures the name of the organization
                  example: Clicqo
                billedTo:
                  type:
                    - string
                    - 'null'
                  description: Captures the name of the billing contact
                  example: Jack Sparrow
                address1:
                  type:
                    - string
                    - 'null'
                  description: Captures the first line of the billing address
                  example: 123 Main Street
                address2:
                  type:
                    - string
                    - 'null'
                  description: Captures the second line of the billing address
                postalCode:
                  type:
                    - string
                    - 'null'
                  description: Captures the postal code of the billing address
                  example: 1234 AB
                city:
                  type:
                    - string
                    - 'null'
                  description: Captures the city of the billing address
                  example: Weesp
                state:
                  type:
                    - string
                    - 'null'
                  description: Captures the state of the billing address
                country:
                  type:
                    - string
                    - 'null'
                  description: Captures the country of the billing address in ISO 3166 format
                  example: nl
                vatNumber:
                  type:
                    - string
                    - 'null'
                  description: Captures the VAT number of the organization
                  example: NL123456789B01
                email:
                  type:
                    - string
                    - 'null'
                  description: Captures the email address of the billing contact
                  example: finance@galley.run
                phone:
                  type:
                    - string
                    - 'null'
                  description: Captures the phone number of the billing contact
                  example: +31 123 456 7890
    ScheduledUpdate:
      allOf:
        - $ref: '#/components/schemas/JSONAPIResource'
        - type: object
          description: A simplified representation of a ScheduledUpdate, typically used in list views.
          required:
            - id
            - type
            - attributes
          properties:
            id:
              type: string
              format: uuid
            type:
              type: string
              enum:
                - ScheduledUpdate
              description: Resource type
            attributes:
              type: object
              required:
                - cron
                - updateType
                - execution
              properties:
                cron:
                  type: string
                  examples:
                    - 0 1 * * *
                updateType:
                  enum:
                    - SecurityUpdates
                    - BugfixUpdates
                    - MinorUpdates
                    - KernelUpdates
                  type: string
                  default: SecurityUpdates
                execution:
                  type: boolean
                  examples:
                    - true
                    - false
                  description: |-
                    If marked true, the ScheduledUpdate is automaticlly applied to the node.
                    If marked false, the ScheduledUpdate will check periodically (see `cron` value) and notices in the UI (and via email) whenever an update is available
    Node:
      allOf:
        - $ref: '#/components/schemas/JSONAPIResource'
        - type: object
          description: A simplified representation of a Node, typically used in list views.
          required:
            - id
            - type
            - attributes
          properties:
            id:
              type: string
              format: uuid
              examples:
                - 27D9B362-0BB3-4F8D-B8E6-CF7FCEE2F327
            type:
              type: string
              enum:
                - VesselEngineNode
              description: Resource type
            attributes:
              type: object
              required:
                - vesselEngineRegionId
                - nodeType
                - provisioning
              properties:
                ipAddress:
                  type: string
                  examples:
                    - 5.254.32.75
                name:
                  type: string
                  examples:
                    - app1.cloud.clicqo.nl
                cpu:
                  type:
                    - string
                    - 'null'
                  examples:
                    - '1'
                memory:
                  type:
                    - string
                    - 'null'
                  examples:
                    - 1GB
                storage:
                  type:
                    - number
                    - string
                    - 'null'
                  examples:
                    - 30G
                    - 30000000000
                nodeType:
                  enum:
                    - controller
                    - worker
                    - controller_worker
                  type: string
                  default: worker
                vesselEngineRegionId:
                  type:
                    - string
                    - 'null'
                  format: uuid
                vesselEngineId:
                  type: string
                  format: uuid
                token:
                  type:
                    - string
                    - 'null'
                provisioning:
                  type: boolean
                  default: Controlled
                  description: |-
                    When provisioning is enabled, Galley is allowed to fully manage and provision the node.
                    When provisioning is disabled, Galley is only allowed to control the node by deploying onto the cluster
                osMetadata:
                  type:
                    - object
                    - 'null'
                provisioningStatus:
                  type: string
                  description: Marks if the server's provisioning status. Open is waiting to be provisioned and may show a token.
                  enum:
                    - open
                    - ready
                    - imported
                deployMode:
                  enum:
                    - applications
                    - databases
                    - applications_databases
                    - null
                  type:
                    - string
                    - 'null'
                  default: applications_databases
                scheduledUpdates:
                  type: array
                  items:
                    $ref: '#/components/schemas/ScheduledUpdate'
    NodeCreate:
      type: object
      required:
        - name
        - nodeType
        - vesselEngineRegionId
        - deployMode
      properties:
        ipAddress:
          type: string
          examples:
            - 5.254.32.75
        name:
          type: string
          examples:
            - app1.cloud.clicqo.nl
        nodeType:
          enum:
            - controller
            - worker
            - controller_worker
          type: string
          default: worker
        vesselEngineRegionId:
          type:
            - string
            - 'null'
          format: uuid
        provisioning:
          type: boolean
          default: Controlled
          description: |-
            When provisioning is enabled, Galley is allowed to fully manage and provision the node.
            When provisioning is disabled, Galley is only allowed to control the node by deploying onto the cluster
        deployMode:
          enum:
            - applications
            - databases
            - applications_databases
            - null
          type:
            - string
            - 'null'
          default: applications_databases
      description: Data transfer object for partially updating an existing Node (PATCH operation).
    NodePartialUpdate:
      type: object
      properties:
        ipAddress:
          type: string
          examples:
            - 5.254.32.75
        name:
          type: string
          examples:
            - app1.cloud.clicqo.nl
        nodeType:
          enum:
            - controller
            - worker
            - controller_worker
          type: string
          default: worker
        vesselEngineRegionId:
          type:
            - string
            - 'null'
          format: uuid
        provisioning:
          type: boolean
          default: Controlled
          description: |-
            When provisioning is enabled, Galley is allowed to fully manage and provision the node.
            When provisioning is disabled, Galley is only allowed to control the node by deploying onto the cluster
        deployMode:
          enum:
            - applications
            - databases
            - applications_databases
            - null
          type:
            - string
            - 'null'
          default: applications_databases
        scheduledUpdates:
          type: array
          items:
            $ref: '#/components/schemas/ScheduledUpdate'
      description: Data transfer object for partially updating an existing Node (PATCH operation).
    NodeAgentPartialUpdate:
      description: Data transfer object for partially updating an existing Node by the Galley Node Agent (PATCH operation).
      type: object
      required:
        - provisioningStatus
      properties:
        provisioningStatus:
          type: string
          description: Marks if the server's provisioning status. Open is waiting to be provisioned and may show a token.
          enum:
            - ready
        cpu:
          type: string
          examples:
            - '1'
        memory:
          type: string
          examples:
            - 1GB
        storage:
          type: string
          examples:
            - 20GB
        osMetadata:
          type:
            - object
            - 'null'
    RegionSummary:
      allOf:
        - $ref: '#/components/schemas/JSONAPIResource'
        - type: object
          description: A simplified representation of a Region, typically used in list views.
          required:
            - id
            - type
            - attributes
          properties:
            id:
              type: string
              format: uuid
            type:
              type: string
              enum:
                - VesselEngineRegion
              description: Resource type
            attributes:
              type: object
              required:
                - name
                - locationCountry
                - geoRegion
              properties:
                name:
                  type: string
                  examples:
                    - AMS1
                locationCity:
                  type:
                    - string
                    - 'null'
                  examples:
                    - Amsterdam
                locationCountry:
                  type: string
                  examples:
                    - nl
                geoRegion:
                  type: string
                  enum:
                    - eu
                    - apac
                    - usa
                    - latam
                    - africa
                    - na
                  examples:
                    - eu
                providerName:
                  type:
                    - string
                    - 'null'
                  examples:
                    - mijn.host
    RegionCreate:
      type: object
      required:
        - name
        - locationCountry
        - geoRegion
      properties:
        name:
          type: string
        locationCity:
          type:
            - string
            - 'null'
        locationCountry:
          type: string
        geoRegion:
          type: string
        providerName:
          type:
            - string
            - 'null'
      description: Data transfer object for creating a new Region.
    Region:
      allOf:
        - $ref: '#/components/schemas/JSONAPIResource'
        - type: object
          description: A simplified representation of a Region, typically used in list views.
          required:
            - id
            - type
            - attributes
          properties:
            id:
              type: string
              format: uuid
            type:
              type: string
              enum:
                - VesselEngineRegion
              description: Resource type
            attributes:
              type: object
              required:
                - name
                - locationCountry
                - geoRegion
                - providerName
              properties:
                name:
                  type: string
                  examples:
                    - AMS1
                geoRegion:
                  type: string
                  examples:
                    - eu
                locationCity:
                  type:
                    - string
                    - 'null'
                  examples:
                    - Amsterdam
                locationCountry:
                  type: string
                  examples:
                    - nl
                  description: ISO 3166 formatted country code
                providerName:
                  type: string
                  examples:
                    - mijn.host
    RegionPartialUpdate:
      type: object
      properties:
        name:
          type: string
        locationCity:
          type:
            - string
            - 'null'
        locationCountry:
          type: string
        geoRegion:
          type: string
        providerName:
          type:
            - string
            - 'null'
      description: Data transfer object for partially updating an existing Region (PATCH operation).
    CharterSummary:
      allOf:
        - $ref: '#/components/schemas/JSONAPIResource'
        - type: object
          description: A simplified representation of a Charter, typically used in list views.
          required:
            - id
            - type
            - attributes
          properties:
            id:
              type: string
              format: uuid
              examples:
                - 27D9B362-0BB3-4F8D-B8E6-CF7FCEE2F327
            type:
              type: string
              enum:
                - Charter
              description: Resource type
            attributes:
              type: object
              required:
                - name
                - vesselId
              properties:
                name:
                  type: string
                  examples:
                    - Clicqo
                description:
                  type:
                    - string
                    - 'null'
                  examples:
                    - Our company charter for production workloads
                vesselId:
                  type: string
                  format: uuid
                  examples:
                    - 972BE567-D652-4A7E-8967-B59C7E68085E
    CharterCreate:
      type: object
      required:
        - name
      description: Data transfer object for creating a new Charter.
      properties:
        name:
          type: string
          minLength: 1
          examples:
            - Clicqo
        description:
          type:
            - string
            - 'null'
          examples:
            - Our company
    Charter:
      allOf:
        - $ref: '#/components/schemas/JSONAPIResource'
        - type: object
          description: Full Charter entity representation for Single Get.
          required:
            - id
            - type
            - attributes
          properties:
            id:
              type: string
              format: uuid
              description: Unique charter identifier
              examples:
                - 27D9B362-0BB3-4F8D-B8E6-CF7FCEE2F327
            type:
              type: string
              enum:
                - Charter
              description: Resource type
            attributes:
              type: object
              required:
                - name
                - description
                - vesselId
              properties:
                vesselId:
                  type: string
                  format: uuid
                  description: Vessel this charter belongs to
                  examples:
                    - 972BE567-D652-4A7E-8967-B59C7E68085E
                name:
                  type: string
                  description: Charter name
                  examples:
                    - Clicqo
                description:
                  type:
                    - string
                    - 'null'
                  description: Charter description
                  examples:
                    - Our company charter for production workloads
    CharterUpdate:
      type: object
      required:
        - name
      description: Data transfer object for updating a Charter.
      properties:
        name:
          type: string
          examples:
            - Clicqo
        description:
          type:
            - string
            - 'null'
          examples:
            - Clicqo
    ComputeBilling:
      type: object
      required:
        - enabled
      properties:
        enabled:
          type: boolean
          examples:
            - true
        period:
          type:
            - string
            - 'null'
          enum:
            - monthly
            - null
          examples:
            - monthly
        unitPrice:
          type:
            - string
            - 'null'
          examples:
            - '5.50'
      description: A simplified representation of Compute billing specification
    ComputePlan:
      allOf:
        - $ref: '#/components/schemas/JSONAPIResource'
        - type: object
          description: Simplified project representation used for listings.
          required:
            - id
            - type
            - attributes
          properties:
            id:
              type: string
              format: uuid
              description: Project ID (UUID)
            type:
              type: string
              enum:
                - CharterComputePlan
              description: Resource type
            attributes:
              type: object
              required:
                - name
                - application
                - requests
              properties:
                name:
                  type: string
                application:
                  description: Application should match a Node's deployMode
                  enum:
                    - applications
                    - databases
                    - applications_databases
                    - null
                  type:
                    - string
                    - 'null'
                requests:
                  type: object
                  required:
                    - cpu
                    - memory
                  properties:
                    cpu:
                      type: string
                      examples:
                        - '1'
                    memory:
                      type: string
                      examples:
                        - 512M
                        - 1G
                        - 2G
                limits:
                  type:
                    - object
                    - 'null'
                  required:
                    - cpu
                    - memory
                  properties:
                    cpu:
                      type: string
                      examples:
                        - '1'
                    memory:
                      type: string
                      examples:
                        - 512M
                        - 1G
                        - 2G
                billing:
                  $ref: '#/components/schemas/ComputeBilling'
    ComputePlanCreate:
      type: object
      required:
        - name
        - application
        - requests
      properties:
        name:
          type: string
        application:
          description: Application should match a Node's deployMode
          enum:
            - applications
            - databases
            - applications_databases
            - null
          type:
            - string
            - 'null'
        requests:
          type: object
          required:
            - cpu
            - memory
          properties:
            cpu:
              type: string
              examples:
                - '1'
            memory:
              type: string
              examples:
                - 512M
                - 1G
                - 2G
        limits:
          type:
            - object
            - 'null'
          required:
            - cpu
            - memory
          properties:
            cpu:
              type: string
              examples:
                - '1'
            memory:
              type: string
              examples:
                - 512M
                - 1G
                - 2G
        billing:
          $ref: '#/components/schemas/ComputeBilling'
    ComputePlanUpdate:
      type: object
      properties:
        name:
          type: string
        application:
          description: Application should match a Node's deployMode
          enum:
            - applications
            - databases
            - applications_databases
            - null
          type:
            - string
            - 'null'
        requests:
          type: object
          required:
            - cpu
            - memory
          properties:
            cpu:
              type: string
              examples:
                - '1'
            memory:
              type: string
              examples:
                - 512M
                - 1G
                - 2G
        limits:
          type:
            - object
            - 'null'
          required:
            - cpu
            - memory
          properties:
            cpu:
              type: string
              examples:
                - '1'
            memory:
              type: string
              examples:
                - 512M
                - 1G
                - 2G
        billing:
          $ref: '#/components/schemas/ComputeBilling'
    ProjectSummary:
      allOf:
        - $ref: '#/components/schemas/JSONAPIResource'
        - type: object
          description: Simplified project representation used for listings.
          required:
            - id
            - type
            - attributes
          properties:
            id:
              type: string
              format: uuid
              description: Project ID (UUID)
            type:
              type: string
              enum:
                - CharterProject
              description: Resource type
            attributes:
              type: object
              required:
                - name
                - environment
              properties:
                name:
                  type: string
                environment:
                  type: string
                  description: Environment name (e.g. production, staging)
                purpose:
                  type:
                    - string
                    - 'null'
    ProjectCreate:
      type: object
      required:
        - name
        - environment
      description: Data transfer object for creating a new Project.
      properties:
        name:
          type: string
          examples:
            - Clicqo
        environment:
          type: string
          examples:
            - production
        purpose:
          type:
            - string
            - 'null'
          examples:
            - Web application
    Project:
      allOf:
        - $ref: '#/components/schemas/JSONAPIResource'
        - type: object
          required:
            - id
            - type
            - attributes
          properties:
            id:
              type: string
              format: uuid
            type:
              type: string
              enum:
                - CharterProject
              description: Resource type
            attributes:
              type: object
              required:
                - name
                - environment
              properties:
                name:
                  type: string
                environment:
                  type: string
                purpose:
                  type:
                    - string
                    - 'null'
    ProjectUpdate:
      type: object
      description: Request body for PATCH /projects/{id}.
      properties:
        name:
          type: string
          description: Project name
          examples:
            - Updated Project
        environment:
          type: string
          description: Environment name
          examples:
            - production
        purpose:
          type:
            - string
            - 'null'
          description: Project purpose
          examples:
            - Updated web application
      additionalProperties: false
    ApplicationSummary:
      allOf:
        - $ref: '#/components/schemas/JSONAPIResource'
        - type: object
          required:
            - id
            - type
            - attributes
          properties:
            id:
              type: string
              format: uuid
            type:
              type: string
              enum:
                - Application
              description: Resource type
            attributes:
              type: object
              required:
                - projectId
                - name
                - slug
              properties:
                vesselId:
                  type: string
                  format: uuid
                charterId:
                  type: string
                  format: uuid
                projectId:
                  type: string
                  format: uuid
                computePlanId:
                  type: string
                  format: uuid
                name:
                  type: string
                slug:
                  type: string
                description:
                  type:
                    - string
                    - 'null'
                labels:
                  type:
                    - object
                    - 'null'
                annotations:
                  type:
                    - object
                    - 'null'
                createdAt:
                  type: string
                  format: date-time
                deletedAt:
                  type: string
                  format: date-time
    DeploymentSpec:
      type: object
      description: A Galley representation of a Kubernetes deployment
      properties:
        replicas:
          type: number
          examples:
            - 1
        strategy:
          type: object
          properties:
            type:
              type: string
              enum:
                - RollingUpdate
                - Recreate
            rollingUpdate:
              type:
                - 'null'
                - object
              properties:
                maxUnavailable:
                  type:
                    - string
                    - 'null'
                  examples:
                    - '1'
                    - 25%
                maxSurge:
                  type:
                    - string
                    - 'null'
                  examples:
                    - '1'
                    - 25%
        minReadySeconds:
          type:
            - 'null'
            - number
        revisionHistoryLimit:
          type:
            - 'null'
            - number
        progressDeadlineSeconds:
          type:
            - 'null'
            - number
        autoscaling:
          type:
            - 'null'
            - object
          properties:
            enabled:
              type: boolean
            minReplicas:
              type: number
            maxReplicas:
              type: number
            targetCpuUtilizationPercentage:
              type:
                - number
                - 'null'
            targetMemoryUtilizationPercentage:
              type:
                - number
                - 'null'
    ContainerSpec:
      type: object
      description: A Galley representation of a Kubernetes container
      properties:
        name:
          type: string
        image:
          type: string
          description: Full container image reference, e.g. ghcr.io/org/image:tag.
        imageTag:
          type:
            - 'null'
            - string
          description: Optional image tag if you prefer to store it separate from image.
        imagePullPolicy:
          type:
            - 'null'
            - string
          enum:
            - Always
            - IfNotPresent
            - Never
        command:
          type:
            - 'null'
            - array
          items:
            type: string
          description: Override container ENTRYPOINT.
        args:
          type:
            - 'null'
            - array
          items:
            type: string
          description: Override container CMD.
        workingDir:
          type:
            - 'null'
            - string
        ports:
          type:
            - 'null'
            - array
          items:
            type: object
            properties:
              name:
                type:
                  - 'null'
                  - string
              containerPort:
                type: number
              protocol:
                type:
                  - 'null'
                  - string
                enum:
                  - TCP
                  - UDP
                  - SCTP
        env:
          type:
            - 'null'
            - array
          items:
            type: object
            description: A single environment variable definition.
            properties:
              name:
                type: string
              value:
                type:
                  - 'null'
                  - string
              valueFrom:
                type:
                  - 'null'
                  - object
                description: |
                  Reference to external sources for this env var, mirroring core/v1.EnvVarSource.
                properties:
                  configMapKeyRef:
                    type:
                      - 'null'
                      - object
                    properties:
                      name:
                        type:
                          - 'null'
                          - string
                      key:
                        type: string
                      optional:
                        type:
                          - 'null'
                          - boolean
                  secretKeyRef:
                    type:
                      - 'null'
                      - object
                    properties:
                      name:
                        type:
                          - 'null'
                          - string
                      key:
                        type: string
                      optional:
                        type:
                          - 'null'
                          - boolean
                  fieldRef:
                    type:
                      - 'null'
                      - object
                    description: |
                      Reference to a field of the pod (e.g. metadata.name). Free-form object mirroring core/v1.ObjectFieldSelector.
                  resourceFieldRef:
                    type:
                      - 'null'
                      - object
                    description: |
                      Reference to container resources (e.g. limits.cpu). Free-form object mirroring core/v1.ResourceFieldSelector.
        envFrom:
          type:
            - 'null'
            - object
          description: Attach all keys from selected ConfigMaps and Secrets as environment variables.
          properties:
            configMaps:
              type:
                - 'null'
                - array
              items:
                type: string
            secrets:
              type:
                - 'null'
                - array
              items:
                type: string
        resources:
          type:
            - 'null'
            - object
          description: Container-level resource requests and limits.
          properties:
            requests:
              type:
                - 'null'
                - object
              properties:
                cpu:
                  type:
                    - 'null'
                    - string
                  examples:
                    - 250m
                    - '1'
                memory:
                  type:
                    - 'null'
                    - string
                  examples:
                    - 256Mi
                    - 1Gi
            limits:
              type:
                - 'null'
                - object
              properties:
                cpu:
                  type:
                    - 'null'
                    - string
                memory:
                  type:
                    - 'null'
                    - string
        volumeMounts:
          type:
            - 'null'
            - array
          items:
            type: object
            properties:
              name:
                type: string
              mountPath:
                type: string
              readOnly:
                type:
                  - 'null'
                  - boolean
              subPath:
                type:
                  - 'null'
                  - string
        livenessProbe:
          type:
            - 'null'
            - object
          description: |
            Kubernetes liveness probe configuration. Free-form object mirroring core/v1.Probe.
        readinessProbe:
          type:
            - 'null'
            - object
          description: |
            Kubernetes readiness probe configuration. Free-form object mirroring core/v1.Probe.
        startupProbe:
          type:
            - 'null'
            - object
          description: |
            Kubernetes startup probe configuration. Free-form object mirroring core/v1.Probe.
        lifecycle:
          type:
            - 'null'
            - object
          description: |
            Container lifecycle hooks (postStart, preStop). Free-form object mirroring core/v1.Lifecycle.
        securityContext:
          type:
            - 'null'
            - object
          description: |
            Container-level securityContext. Free-form object mirroring core/v1.SecurityContext.
      required:
        - name
        - image
    VolumeSpec:
      type: object
      description: A Galley representation of a Kubernetes Volume
      properties:
        type:
          type: string
          enum:
            - persistent
            - configMap
            - secret
            - emptyDir
        name:
          type: string
          description: Name of the volume. Must match volumeMount.name in a container.
        persistent:
          type:
            - 'null'
            - object
          description: Persistent volume backed by a PersistentVolumeClaim.
          properties:
            claimName:
              type: string
            readOnly:
              type:
                - 'null'
                - boolean
        configMap:
          type:
            - 'null'
            - object
          description: Volume populated from a ConfigMap.
          properties:
            configMapName:
              type: string
            defaultMode:
              type:
                - 'null'
                - number
            optional:
              type:
                - 'null'
                - boolean
            items:
              type:
                - 'null'
                - array
              items:
                type: object
                properties:
                  key:
                    type: string
                  path:
                    type: string
        secret:
          type:
            - 'null'
            - object
          description: Volume populated from a Secret.
          properties:
            secretName:
              type: string
            defaultMode:
              type:
                - 'null'
                - number
            optional:
              type:
                - 'null'
                - boolean
            items:
              type:
                - 'null'
                - array
              items:
                type: object
                properties:
                  key:
                    type: string
                  path:
                    type: string
        emptyDir:
          type:
            - 'null'
            - object
          description: Empty directory volume, optionally memory-backed.
          properties:
            medium:
              type:
                - 'null'
                - string
              enum:
                - ''
                - Memory
            sizeLimit:
              type:
                - 'null'
                - string
              examples:
                - 128Mi
                - 1Gi
      required:
        - type
        - name
    ApplicationPodSpec:
      type: object
      description: A Galley representation of a Kubernetes Pod
      properties:
        serviceAccountName:
          type:
            - string
            - 'null'
        restartPolicy:
          type:
            - string
            - 'null'
          enum:
            - Always
            - OnFailure
            - Never
          default: Always
        terminationGracePeriodSeconds:
          type:
            - 'null'
            - number
        dnsPolicy:
          type:
            - 'null'
            - string
          enum:
            - ClusterFirst
            - ClusterFirstWithHostNet
            - Default
            - None
        dnsConfig:
          type:
            - 'null'
            - object
          properties:
            nameservers:
              type:
                - 'null'
                - array
              items:
                type: string
            searches:
              type:
                - 'null'
                - array
              items:
                type: string
            options:
              type:
                - 'null'
                - array
              items:
                type: object
                properties:
                  name:
                    type: string
                  value:
                    type:
                      - 'null'
                      - string
        imagePullSecrets:
          type:
            - 'null'
            - array
          items:
            type: string
        nodeSelector:
          type:
            - 'null'
            - object
          additionalProperties:
            type: string
        nodeAffinity:
          type:
            - 'null'
            - object
          description: |
            Kubernetes NodeAffinity spec. Free-form object mirroring core/v1.NodeAffinity.
        podAffinity:
          type:
            - 'null'
            - object
          description: |
            Kubernetes PodAffinity spec. Free-form object mirroring core/v1.PodAffinity.
        podAntiAffinity:
          type:
            - 'null'
            - object
          description: |
            Kubernetes PodAntiAffinity spec. Free-form object mirroring core/v1.PodAntiAffinity.
        tolerations:
          type:
            - 'null'
            - array
          items:
            type: object
            properties:
              key:
                type:
                  - 'null'
                  - string
              operator:
                type:
                  - 'null'
                  - string
                enum:
                  - Exists
                  - Equal
              value:
                type:
                  - 'null'
                  - string
              effect:
                type:
                  - 'null'
                  - string
                enum:
                  - NoSchedule
                  - PreferNoSchedule
                  - NoExecute
              tolerationSeconds:
                type:
                  - 'null'
[...]
