openapi: 3.1.0
info:
  title: Galley API
  version: 0.1.0
  description: The main Galley API spec where the Galley UI will be built upon
  license:
    name: Business Source License
    identifier: BUSL-1.1
servers:
  - url: https://api.galley.run
    description: Hosted Platform - Production
tags:
  - description: Manage vessel
    name: vessel
  - description: Manage the vessel engine
    name: vessel/engine
  - description: Manage vessel billing profile
    name: vessel/billing-profile
  - description: Manage vessel logbook
    name: vessel/logbook
  - description: Manage the vessel's SSH keys and other secrets shared accross tenants
    name: vessel/locker
  - description: Managing the crew of the vessel
    name: vessel/crew
  - description: Manage charters within a vessel
    name: charter
  - description: Manage charter billing profile
    name: charter/billing-profile
  - description: Manage charter logbook
    name: charter/logbook
  - description: Managing the crew of the charter
    name: charter/crew
  - description: Manage projects within a charter
    name: project
  - description: Manage applications within a project
    name: project/applications
  - description: Manage databases within a project
    name: project/databases
  - description: Manage secrets within a project
    name: project/secrets
  - description: Manage configs within a project
    name: project/configs
  - description: Manage API Gateway within a project
    name: project/api-gateway
  - description: Current user profile
    name: users/me
  - description: Manage API keys for the current user
    name: users/me/api-keys
  - description: Manage WebAuthn credentials for the current user
    name: users/me/webauthn
  - description: Authentication endpoints
    name: auth
  - description: The Chef AI Agent which can guide you through Galley and can give you recommendations specific to your needs on Vessel scope
    name: chef
paths:
  /vessels:
    get:
      tags:
        - vessel
      summary: List vessels
      operationId: listVessels
      security:
        - vesselCaptain: []
        - charterCaptain: []
      responses:
        '200':
          description: The request was successful, and the server has returned the requested resource in the response body.
          content:
            application/vnd.galley.v1+json:
              schema:
                type: object
                title: ListVessels
                required:
                  - data
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/VesselSummary'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      tags:
        - vessel
      summary: Create vessel
      operationId: createVessel
      security:
        - vesselCaptain: []
      requestBody:
        required: true
        description: Vessel creation data
        content:
          application/vnd.galley.v1+json:
            schema:
              $ref: '#/components/schemas/VesselCreate'
      responses:
        '201':
          description: The request was successful, and a new resource was created.
          content:
            application/vnd.galley.v1+json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/Vessel'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /vessels/{vessel_id}:
    parameters:
      - $ref: '#/components/parameters/vessel_id'
    get:
      tags:
        - vessel
      summary: Get vessel by ID
      operationId: getVessel
      security:
        - vesselCaptain: []
        - charterCaptain: []
      responses:
        '200':
          description: The request was successful, and the server has returned the requested resource in the response body.
          content:
            application/vnd.galley.v1+json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/Vessel'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    patch:
      tags:
        - vessel
      summary: Update vessel
      operationId: updateVessel
      security:
        - vesselCaptain: []
        - charterCaptain: []
      requestBody:
        required: true
        description: Vessel update data
        content:
          application/vnd.galley.v1+json:
            schema:
              $ref: '#/components/schemas/VesselUpdate'
      responses:
        '200':
          description: The request was successful, and the server has returned the updated resource in the response body.
          content:
            application/vnd.galley.v1+json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/Vessel'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      tags:
        - vessel
      summary: Delete vessel (placeholder)
      operationId: deleteVessel
      security:
        - vesselCaptain: []
        - charterCaptain: []
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /vessels/{vessel_id}/engine:
    parameters:
      - $ref: '#/components/parameters/vessel_id'
    get:
      tags:
        - vessel/engine
      summary: Get vessel engine overview
      operationId: getVesselEngineOverview
      security:
        - vesselCaptain: []
        - charterCaptain: []
      responses:
        '200':
          description: The request was successful, and the server has returned the requested resource in the response body.
          content:
            application/vnd.galley.v1+json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/VesselEngine'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /vessels/{vessel_id}/billing-profile:
    parameters:
      - $ref: '#/components/parameters/vessel_id'
    get:
      tags:
        - vessel/billing-profile
      summary: Get vessel billing profile
      operationId: getVesselBillingProfile
      security:
        - vesselCaptain: []
        - charterCaptain: []
      responses:
        '200':
          description: The request was successful, and the server has returned the requested resource in the response body.
          content:
            application/vnd.galley.v1+json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/BillingProfile'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      tags:
        - vessel/billing-profile
      summary: Create vessel billing profile
      operationId: createVesselBillingProfile
      security:
        - vesselCaptain: []
      requestBody:
        required: true
        description: Billing profile information to create
        content:
          application/vnd.galley.v1+json:
            schema:
              $ref: '#/components/schemas/BillingProfileCreate'
      responses:
        '201':
          description: The request was successful, and a new resource was created.
          content:
            application/vnd.galley.v1+json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/BillingProfile'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '500':
          $ref: '#/components/responses/InternalServerError'
    put:
      tags:
        - vessel/billing-profile
      summary: Update vessel billing profile
      operationId: updateVesselBillingProfile
      security:
        - vesselCaptain: []
        - charterCaptain: []
      requestBody:
        required: true
        description: Updated billing profile information
        content:
          application/vnd.galley.v1+json:
            schema:
              $ref: '#/components/schemas/BillingProfileUpdate'
      responses:
        '200':
          description: The request was successful, and the resource was updated.
          content:
            application/vnd.galley.v1+json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/BillingProfile'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      tags:
        - vessel/billing-profile
      summary: Delete vessel billing profile
      operationId: deleteVesselBillingProfile
      security:
        - vesselCaptain: []
        - charterCaptain: []
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /vessels/{vessel_id}/charters/{charter_id}/billing-profile:
    parameters:
      - $ref: '#/components/parameters/vessel_id'
      - $ref: '#/components/parameters/charter_id'
    get:
      tags:
        - charter/billing-profile
      summary: Get charter billing profile
      operationId: getCharterBillingProfile
      security:
        - vesselCaptain: []
        - charterCaptain: []
      responses:
        '200':
          description: The request was successful, and the server has returned the requested resource in the response body.
          content:
            application/vnd.galley.v1+json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/BillingProfile'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      tags:
        - charter/billing-profile
      summary: Create charter billing profile
      operationId: createCharterBillingProfile
      security:
        - vesselCaptain: []
        - charterCaptain: []
      requestBody:
        required: true
        description: Billing profile information to create
        content:
          application/vnd.galley.v1+json:
            schema:
              $ref: '#/components/schemas/BillingProfileCreate'
      responses:
        '201':
          description: The request was successful, and a new resource was created.
          content:
            application/vnd.galley.v1+json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/BillingProfile'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '500':
          $ref: '#/components/responses/InternalServerError'
    put:
      tags:
        - charter/billing-profile
      summary: Update charter billing profile
      operationId: updateCharterBillingProfile
      security:
        - vesselCaptain: []
        - charterCaptain: []
      requestBody:
        required: true
        description: Updated billing profile information
        content:
          application/vnd.galley.v1+json:
            schema:
              $ref: '#/components/schemas/BillingProfileUpdate'
      responses:
        '200':
          description: The request was successful, and the resource was updated.
          content:
            application/vnd.galley.v1+json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/BillingProfile'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      tags:
        - charter/billing-profile
      summary: Delete charter billing profile
      operationId: deleteCharterBillingProfile
      security:
        - vesselCaptain: []
        - charterCaptain: []
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /vessels/{vessel_id}/engine/nodes:
    parameters:
      - $ref: '#/components/parameters/vessel_id'
    get:
      tags:
        - vessel/engine
      summary: List nodes within the engine
      security:
        - vesselCaptain: []
        - charterCaptain: []
      responses:
        '200':
          content:
            application/vnd.galley.v1+json:
              schema:
                type: object
                title: ListNodesInEngine
                required:
                  - data
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Node'
          description: The request was successful, and the server has returned the requested resource in the response body.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      operationId: listNodesWithinTheEngine
    post:
      summary: Create a node within the engine
      operationId: createANodeWithinTheEngine
      description: Creates a new record of type Node.
      tags:
        - vessel/engine
      security:
        - vesselCaptain: []
        - charterCaptain: []
      requestBody:
        required: true
        description: Node information to create
        content:
          application/vnd.galley.v1+json:
            schema:
              $ref: '#/components/schemas/NodeCreate'
      responses:
        '201':
          description: The request was successful, and a new resource was created.
          content:
            application/vnd.galley.v1+json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/Node'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /vessels/{vessel_id}/engine/nodes/{node_id}:
    parameters:
      - $ref: '#/components/parameters/vessel_id'
      - $ref: '#/components/parameters/node_id'
    get:
      summary: Get single node within the engine
      operationId: getSingleNodeWithinTheEngine
      description: Returns a record of type Node.
      tags:
        - vessel/engine
      security:
        - vesselCaptain: []
        - charterCaptain: []
      responses:
        '200':
          description: The request was successful, and the server has returned the requested resource in the response body.
          content:
            application/vnd.galley.v1+json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Node'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    patch:
      summary: Update a node within the engine
      operationId: updateANodeWithinTheEngine
      description: Partially updates a record of type Node.
      tags:
        - vessel/engine
      security:
        - vesselCaptain: []
        - charterCaptain: []
      requestBody:
        required: true
        description: Updated node information
        content:
          application/vnd.galley.v1+json:
            schema:
              $ref: '#/components/schemas/NodePartialUpdate'
      responses:
        '200':
          description: The request was successful, and the server has returned the requested resource in the response body.
          content:
            application/vnd.galley.v1+json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/Node'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      summary: Delete a node within the engine, may be refused if there are still applications and/or databases running on the node
      operationId: deleteANodeWithinTheEngine
      description: Deletes a record of type Node.
      tags:
        - vessel/engine
      security:
        - vesselCaptain: []
        - charterCaptain: []
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /vessels/{vessel_id}/engine/nodes/{node_id}/security-updates:
    parameters:
      - $ref: '#/components/parameters/vessel_id'
      - $ref: '#/components/parameters/node_id'
    post:
      summary: Schedule a new update schedule for an engine node
      operationId: createScheduledUpdate
      tags:
        - vessel/engine
      security:
        - vesselCaptain: []
        - charterCaptain: []
      responses:
        '200':
          description: The request was successful, and the server has returned the requested resource in the response body.
          content:
            application/vnd.galley.v1+json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/ScheduledUpdate'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /vessels/{vessel_id}/engine/nodes/{node_id}/security-updates/{scheduled_update_id}:
    parameters:
      - $ref: '#/components/parameters/vessel_id'
      - $ref: '#/components/parameters/node_id'
      - $ref: '#/components/parameters/scheduled_update_id'
    delete:
      operationId: deleteAScheduledUpdateFromANode
      tags:
        - vessel/engine
      summary: Delete a scheduled update from a node
      security:
        - vesselCaptain: []
        - charterCaptain: []
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /vessels/{vessel_id}/engine/regions:
    parameters:
      - $ref: '#/components/parameters/vessel_id'
    get:
      tags:
        - vessel/engine
      summary: List registered regions within the engine
      security:
        - vesselCaptain: []
        - charterCaptain: []
      responses:
        '200':
          content:
            application/vnd.galley.v1+json:
              schema:
                type: object
                title: ListRegionsWithinTheEngine
                required:
                  - data
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/RegionSummary'
          description: The request was successful, and the server has returned the requested resource in the response body.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      operationId: listRegionsWithinTheEngine
    post:
      summary: Create a region within the engine
      operationId: createRegion
      tags:
        - vessel/engine
      security:
        - vesselCaptain: []
        - charterCaptain: []
      requestBody:
        required: true
        content:
          application/vnd.galley.v1+json:
            schema:
              $ref: '#/components/schemas/RegionCreate'
      responses:
        '201':
          description: The request was successful, and a new resource was created.
          content:
            application/vnd.galley.v1+json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Region'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /vessels/{vessel_id}/engine/regions/{region_id}:
    parameters:
      - $ref: '#/components/parameters/vessel_id'
      - $ref: '#/components/parameters/region_id'
    get:
      summary: Get single region within the engine
      operationId: getSingleRegionWithinTheEngine
      description: Returns a record of type Region.
      tags:
        - vessel/engine
      security:
        - vesselCaptain: []
        - charterCaptain: []
      responses:
        '200':
          description: The request was successful, and the server has returned the requested resource in the response body.
          content:
            application/vnd.galley.v1+json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Region'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    patch:
      summary: Update a region within the engine
      operationId: updateRegion
      tags:
        - vessel/engine
      security:
        - vesselCaptain: []
        - charterCaptain: []
      requestBody:
        required: true
        content:
          application/vnd.galley.v1+json:
            schema:
              $ref: '#/components/schemas/RegionPartialUpdate'
      responses:
        '200':
          description: The request was successful, and the resource was updated.
          content:
            application/vnd.galley.v1+json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Region'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      summary: Delete a region from the engine, may be refused if there are still nodes running in the region
      operationId: deleteRegion
      tags:
        - vessel/engine
      security:
        - vesselCaptain: []
        - charterCaptain: []
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /vessels/{vessel_id}/locker/private-keys:
    parameters:
      - $ref: '#/components/parameters/vessel_id'
    get:
      summary: List all private keys in the locker
      operationId: listPrivateKeys
      tags:
        - vessel/locker
      security:
        - vesselCaptain: []
        - charterCaptain: []
      responses:
        '200':
          content:
            application/vnd.galley.v1+json:
              schema:
                type: object
                title: ListPrivateKeysInLocker
                required:
                  - data
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/PrivateKeySummary'
          description: The request was successful, and the server has returned the requested resource in the response body.
        '204':
          $ref: '#/components/responses/NoContent'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      summary: Create and store a new private key in the locker
      operationId: createPrivateKey
      tags:
        - vessel/locker
      security:
        - vesselCaptain: []
        - charterCaptain: []
      requestBody:
        required: true
        content:
          application/vnd.galley.v1+json:
            schema:
              $ref: '#/components/schemas/PrivateKey'
      responses:
        '201':
          description: The request was successful and the private key is stored in the Locker.
          content:
            application/vnd.galley.v1+json:
              schema:
                type: object
                title: CreatedPrivateKey
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/PrivateKeySummary'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /vessels/{vessel_id}/locker/private-keys/{private_key_id}:
    parameters:
      - $ref: '#/components/parameters/vessel_id'
      - $ref: '#/components/parameters/private_key_id'
    patch:
      summary: Update the name of a private key in the locker.
      operationId: patchPrivateKey
      tags:
        - vessel/locker
      security:
        - vesselCaptain: []
        - charterCaptain: []
      requestBody:
        required: true
        description: Updated private key information
        content:
          application/vnd.galley.v1+json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: New name for the private key
      responses:
        '200':
          description: The request was successful, and the resource was updated.
          content:
            application/vnd.galley.v1+json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/PrivateKeySummary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      summary: Delete a private key from the locker, may be refused if the private key is still in use by a node
      operationId: deletePrivateKey
      tags:
        - vessel/locker
      security:
        - vesselCaptain: []
        - charterCaptain: []
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /vessels/{vessel_id}/logbook:
    parameters:
      - $ref: '#/components/parameters/vessel_id'
    get:
      tags:
        - vessel/logbook
      summary: List vessel logbook entries
      operationId: listVesselLogbookEntries
      security:
        - vesselCaptain: []
        - charterCaptain: []
      responses:
        '200':
          description: The request was successful, and the server has returned the requested resource in the response body.
          content:
            application/vnd.galley.v1+json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/LogbookEntrySummary'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /vessels/{vessel_id}/logbook/{logbook_id}:
    parameters:
      - $ref: '#/components/parameters/vessel_id'
      - $ref: '#/components/parameters/logbook_id'
    get:
      tags:
        - vessel/logbook
      summary: Get vessel logbook entry
      operationId: getVesselLogbookEntry
      security:
        - vesselCaptain: []
        - charterCaptain: []
      responses:
        '200':
          description: The request was successful, and the server has returned the requested resource in the response body.
          content:
            application/vnd.galley.v1+json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/LogbookEntry'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /vessels/{vessel_id}/charters/{charter_id}/logbook:
    parameters:
      - $ref: '#/components/parameters/vessel_id'
      - $ref: '#/components/parameters/charter_id'
    get:
      tags:
        - charter/logbook
      summary: List charter logbook entries
      operationId: listCharterLogbookEntries
      security:
        - vesselCaptain: []
        - charterCaptain: []
      responses:
        '200':
          description: The request was successful, and the server has returned the requested resource in the response body.
          content:
            application/vnd.galley.v1+json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/LogbookEntrySummary'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /vessels/{vessel_id}/charters/{charter_id}/logbook/{logbook_id}:
    parameters:
      - $ref: '#/components/parameters/vessel_id'
      - $ref: '#/components/parameters/charter_id'
      - $ref: '#/components/parameters/logbook_id'
    get:
      tags:
        - charter/logbook
      summary: Get charter logbook entry
      operationId: getCharterLogbookEntry
      security:
        - vesselCaptain: []
        - charterCaptain: []
      responses:
        '200':
          description: The request was successful, and the server has returned the requested resource in the response body.
          content:
            application/vnd.galley.v1+json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/LogbookEntry'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /vessels/{vessel_id}/crew:
    parameters:
      - $ref: '#/components/parameters/vessel_id'
    get:
      tags:
        - vessel/crew
      summary: List crew within this vessel where the charter is part of. Charter Captains and Pursers can only see the Vessel Captains of the Vessel they're part of.
      operationId: listCrewMembers
      security:
        - vesselCaptain: []
        - charterCaptain: []
        - charterPurser: []
      responses:
        '200':
          content:
            application/vnd.galley.v1+json:
              schema:
                type: object
                title: ListCrewMembers
                required:
                  - data
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/CrewSummary'
          description: The request was successful, and the server has returned the requested resource in the response body.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      summary: Invite a crew member to a vessel
      operationId: inviteCrewMemberToVessel
      description: Creates a new record of type Crew
      tags:
        - vessel/crew
      security:
        - vesselCaptain: []
      requestBody:
        required: true
        description: Crew member information to create
        content:
          application/vnd.galley.v1+json:
            schema:
              $ref: '#/components/schemas/CrewCreate'
      responses:
        '201':
          description: The request was successful, and a new resource was created.
          content:
            application/vnd.galley.v1+json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/Crew'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /vessels/{vessel_id}/crew/{crew_id}:
    parameters:
      - $ref: '#/components/parameters/vessel_id'
      - $ref: '#/components/parameters/crew_id'
    get:
      tags:
        - vessel/crew
      summary: View a Vessel crew member. Charter Captains and Pursers can only see the Vessel Captains of the Vessel they're part of.
      operationId: getCrewMember
      security:
        - vesselCaptain: []
        - charterCaptain: []
        - charterPurser: []
      responses:
        '200':
          description: The request was successful, and the server has returned the requested resource in the response body.
          content:
            application/vnd.galley.v1+json:
              schema:
                type: object
                title: SingleCrewMember
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/Crew'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    patch:
      summary: Update a crew member
      operationId: updateCrewMember
      description: This endpoint is limited to updating name, email of user object and update the vessel and charter role
      tags:
        - vessel/crew
      security:
        - vesselCaptain: []
      requestBody:
        required: true
        description: Updated crew member information
        content:
          application/vnd.galley.v1+json:
            schema:
              $ref: '#/components/schemas/CrewUpdate'
      responses:
        '200':
          description: The request was successful, and the server has returned the requested resource in the response body.
          content:
            application/vnd.galley.v1+json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/Crew'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      summary: Delete a crew member or captain
      operationId: deleteCrewMemberOrCaptain
      description: Delete a crew member from a vessel. The last Captain of a Vessel cannot be deleted. This person can only be removed by deleting the entire vessel, which automatically removes the last Captain of the Vessel. This endpoint can delete either a crew member of crew captain.
      tags:
        - vessel/crew
      security:
        - vesselCaptain: []
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /vessels/{vessel_id}/crew/{crew_id}/accept:
    parameters:
      - $ref: '#/components/parameters/vessel_id'
      - $ref: '#/components/parameters/crew_id'
    patch:
      summary: Accept a crew invitation
      operationId: acceptCrewInvitation
      description: Accepts a crew invitation that was sent via email, activating the crew member's access to the vessel
      tags:
        - vessel/crew
      security:
        - vesselCaptain: []
      responses:
        '200':
          description: The request was successful, and the invitation has been accepted. The crew member now has active access to the vessel.
          content:
            application/vnd.galley.v1+json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/Crew'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /vessels/{vessel_id}/charters:
    parameters:
      - $ref: '#/components/parameters/vessel_id'
    get:
      tags:
        - charter
      summary: List charters within this vessel. Will list all charters in vessel for vessel captains, will list a limited set of charters vessel members.
      operationId: listCharters
      security:
        - vesselCaptain: []
        - charterCaptain: []
        - charterBoatswain: []
        - charterDeckhand: []
        - charterSteward: []
        - charterPurser: []
      responses:
        '200':
          content:
            application/vnd.galley.v1+json:
              schema:
                type: object
                title: ListCharters
                required:
                  - data
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/CharterSummary'
          description: The request was successful, and the server has returned the requested resource in the response body.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      summary: Add a charter to the vessel
      operationId: addCharterToVessel
      description: Creates a new record of type Charter
      tags:
        - charter
      security:
        - vesselCaptain: []
      responses:
        '201':
          description: The request was successful, and a new resource was created.
          content:
            application/vnd.galley.v1+json:
              schema:
                type: array
                items:
                  type: object
                  required:
                    - data
                  properties:
                    data:
                      $ref: '#/components/schemas/Charter'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '500':
          $ref: '#/components/responses/InternalServerError'
      requestBody:
        required: true
        description: Charter creation data
        content:
          application/vnd.galley.v1+json:
            schema:
              $ref: '#/components/schemas/CharterCreate'
  /vessels/{vessel_id}/charters/{charter_id}:
    parameters:
      - $ref: '#/components/parameters/vessel_id'
      - $ref: '#/components/parameters/charter_id'
    get:
      tags:
        - charter
      summary: View a Charter within a Vessel. Charter Captains and Pursers can only see details of their own charter. Vessel Captains can see any charter within their vessel.
      operationId: getCharter
      security:
        - vesselCaptain: []
        - charterCaptain: []
        - charterPurser: []
      responses:
        '200':
          content:
            application/vnd.galley.v1+json:
              schema:
                type: object
                title: SingleCharter
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/Charter'
          description: The request was successful, and the server has returned the requested resource in the response body.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    patch:
      summary: Update a Charter
      operationId: updateCharter
      description: Partially updates a record of type Charter
      tags:
        - charter
      security:
        - vesselCaptain: []
      responses:
        '200':
          description: The request was successful, and the server has returned the requested resource in the response body.
          content:
            application/vnd.galley.v1+json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/Charter'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      requestBody:
        required: true
        description: Charter update data
        content:
          application/vnd.galley.v1+json:
            schema:
              $ref: '#/components/schemas/CharterUpdate'
    delete:
      summary: Delete a Charter
      operationId: deleteCharter
      description: Deletes a record of type Charter.
      tags:
        - charter
      security:
        - vesselCaptain: []
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /vessels/{vessel_id}/charters/{charter_id}/projects:
    parameters:
      - $ref: '#/components/parameters/vessel_id'
      - $ref: '#/components/parameters/charter_id'
    get:
      tags:
        - project
      summary: List projects for charter
      operationId: listProjectsForCharter
      security:
        - vesselCaptain: []
        - charterCaptain: []
      responses:
        '200':
          description: The request was successful, and the server has returned the requested resource in the response body.
          content:
            application/vnd.galley.v1+json:
              schema:
                type: object
                title: ListProjects
                required:
                  - data
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ProjectSummary'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      tags:
        - project
      summary: Create project
      operationId: createProject
      security:
        - vesselCaptain: []
        - charterCaptain: []
      requestBody:
        required: true
        description: Project creation data
        content:
          application/vnd.galley.v1+json:
            schema:
              $ref: '#/components/schemas/ProjectCreate'
      responses:
        '201':
          description: The request was successful, and a new resource was created.
          content:
            application/vnd.galley.v1+json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/Project'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /vessels/{vessel_id}/charters/{charter_id}/projects/{project_id}:
    parameters:
      - $ref: '#/components/parameters/vessel_id'
      - $ref: '#/components/parameters/charter_id'
      - $ref: '#/components/parameters/project_id'
    get:
      tags:
        - project
      summary: Get project by ID
      operationId: getProject
      security:
        - vesselCaptain: []
        - charterCaptain: []
      responses:
        '200':
          description: The request was successful, and the server has returned the requested resource in the response body.
          content:
            application/vnd.galley.v1+json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/Project'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    patch:
      tags:
        - project
      summary: Update project
      operationId: updateProject
      security:
        - vesselCaptain: []
        - charterCaptain: []
      requestBody:
        required: true
        description: Project update data
        content:
          application/vnd.galley.v1+json:
            schema:
              $ref: '#/components/schemas/ProjectUpdate'
      responses:
        '200':
          description: The request was successful, and the server has returned the requested resource in the response body.
          content:
            application/vnd.galley.v1+json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/Project'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      tags:
        - project
      summary: Delete project
      operationId: deleteProject
      security:
        - vesselCaptain: []
        - charterCaptain: []
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /vessels/{vessel_id}/charters/{charter_id}/projects/{project_id}/applications:
    parameters:
      - $ref: '#/components/parameters/vessel_id'
      - $ref: '#/components/parameters/charter_id'
      - $ref: '#/components/parameters/project_id'
    get:
      tags:
        - project/applications
      summary: List applications for project
      operationId: listApplicationsForProject
      security:
        - vesselCaptain: []
        - charterCaptain: []
      responses:
        '200':
          description: The request was successful, and the server has returned the requested resource in the response body.
          content:
            application/vnd.galley.v1+json:
              schema:
                type: object
                title: ListApplications
                required:
                  - data
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ApplicationSummary'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      tags:
        - project/applications
      summary: Create application
      operationId: createApplication
      security:
        - vesselCaptain: []
        - charterCaptain: []
      requestBody:
        required: true
        description: Application creation data
        content:
          application/vnd.galley.v1+json:
            schema:
              $ref: '#/components/schemas/ApplicationCreate'
      responses:
        '201':
          description: The request was successful, and a new resource was created.
          content:
            application/vnd.galley.v1+json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/Application'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /vessels/{vessel_id}/charters/{charter_id}/projects/{project_id}/applications/{application_id}:
    parameters:
      - $ref: '#/components/parameters/vessel_id'
      - $ref: '#/components/parameters/charter_id'
      - $ref: '#/components/parameters/project_id'
      - $ref: '#/components/parameters/application_id'
    get:
      tags:
        - project/applications
      summary: Get application by ID
      operationId: getApplication
      security:
        - vesselCaptain: []
        - charterCaptain: []
      responses:
        '200':
          description: The request was successful, and the server has returned the requested resource in the response body.
          content:
            application/vnd.galley.v1+json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/Application'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    patch:
      tags:
        - project/applications
      summary: Update application
      operationId: updateApplication
      security:
        - vesselCaptain: []
        - charterCaptain: []
      requestBody:
        required: true
        description: Application update data
        content:
          application/vnd.galley.v1+json:
            schema:
              $ref: '#/components/schemas/ApplicationUpdate'
      responses:
        '200':
          description: The request was successful, and the server has returned the updated resource in the response body.
          content:
            application/vnd.galley.v1+json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/Application'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      tags:
        - project/applications
      summary: Delete application (placeholder)
      operationId: deleteApplication
      security:
        - vesselCaptain: []
        - charterCaptain: []
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /vessels/{vessel_id}/charters/{charter_id}/projects/{project_id}/databases:
    parameters:
      - $ref: '#/components/parameters/vessel_id'
      - $ref: '#/components/parameters/charter_id'
      - $ref: '#/components/parameters/project_id'
    get:
      tags:
        - project/databases
      summary: List databases for project
      operationId: listDatabasesForProject
      security:
        - vesselCaptain: []
        - charterCaptain: []
      responses:
        '200':
          description: The request was successful, and the server has returned the requested resource in the response body.
          content:
            application/vnd.galley.v1+json:
              schema:
                type: object
                title: ListDatabases
                required:
                  - data
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/DatabaseSummary'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      tags:
        - project/databases
      summary: Create database
      operationId: createDatabase
      security:
        - vesselCaptain: []
        - charterCaptain: []
      requestBody:
        required: true
        description: Database creation data
        content:
          application/vnd.galley.v1+json:
            schema:
              $ref: '#/components/schemas/DatabaseCreate'
      responses:
        '201':
          description: The request was successful, and a new resource was created.
          content:
            application/vnd.galley.v1+json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/Database'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /vessels/{vessel_id}/charters/{charter_id}/projects/{project_id}/databases/{database_id}:
    parameters:
      - $ref: '#/components/parameters/vessel_id'
      - $ref: '#/components/parameters/charter_id'
      - $ref: '#/components/parameters/project_id'
      - $ref: '#/components/parameters/database_id'
    get:
      tags:
        - project/databases
      summary: Get database by ID
      operationId: getDatabase
      security:
        - vesselCaptain: []
        - charterCaptain: []
      responses:
        '200':
          description: The request was successful, and the server has returned the requested resource in the response body.
          content:
            application/vnd.galley.v1+json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/Database'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    patch:
      tags:
        - project/databases
      summary: Update database
      operationId: updateDatabase
      security:
        - vesselCaptain: []
        - charterCaptain: []
      requestBody:
        required: true
        description: Database update data
        content:
          application/vnd.galley.v1+json:
            schema:
              $ref: '#/components/schemas/DatabaseUpdate'
      responses:
        '200':
          description: The request was successful, and the server has returned the updated resource in the response body.
          content:
            application/vnd.galley.v1+json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/Database'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      tags:
        - project/databases
      summary: Delete database (placeholder)
      operationId: deleteDatabase
      security:
        - vesselCaptain: []
        - charterCaptain: []
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /vessels/{vessel_id}/charters/{charter_id}/projects/{project_id}/api-gateway:
    parameters:
      - $ref: '#/components/parameters/vessel_id'
      - $ref: '#/components/parameters/charter_id'
      - $ref: '#/components/parameters/project_id'
    get:
      tags:
        - project/api-gateway
      summary: Get API Gateway config for project
      operationId: getProjectApiGateway
      security:
        - vesselCaptain: []
        - charterCaptain: []
        - charterBoatswain: []
      responses:
        '200':
          description: The request was successful, and the server has returned the requested resource in the response body.
          content:
            application/vnd.galley.v1+json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/ApiGateway'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    patch:
      tags:
        - project/api-gateway
      summary: Update API Gateway config for project
      operationId: updateProjectApiGateway
      security:
        - vesselCaptain: []
        - charterCaptain: []
        - charterBoatswain: []
      requestBody:
        required: true
        description: Updated API Gateway configuration
        content:
          application/vnd.galley.v1+json:
            schema:
              $ref: '#/components/schemas/ApiGatewayUpdate'
      responses:
        '200':
          description: The request was successful, and the resource was updated.
          content:
            application/vnd.galley.v1+json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/ApiGateway'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /vessels/{vessel_id}/charters/{charter_id}/projects/{project_id}/secrets:
    parameters:
      - $ref: '#/components/parameters/vessel_id'
      - $ref: '#/components/parameters/charter_id'
      - $ref: '#/components/parameters/project_id'
    get:
      tags:
        - project/secrets
      summary: List secrets for project
      operationId: listProjectSecrets
      security:
        - vesselCaptain: []
        - charterCaptain: []
      responses:
        '200':
          description: The request was successful, and the server has returned the requested resource in the response body.
          content:
            application/vnd.galley.v1+json:
              schema:
                type: object
                title: ListProjectSecrets
                required:
                  - data
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/SecretSummary'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      tags:
        - project/secrets
      summary: Create secret
      operationId: createProjectSecret
      security:
        - vesselCaptain: []
        - charterCaptain: []
      requestBody:
        required: true
        description: Secret information to create
        content:
          application/vnd.galley.v1+json:
            schema:
              $ref: '#/components/schemas/SecretCreate'
      responses:
        '201':
          description: The request was successful, and a new resource was created.
          content:
            application/vnd.galley.v1+json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/Secret'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /vessels/{vessel_id}/charters/{charter_id}/projects/{project_id}/secrets/{secret_id}:
    parameters:
      - $ref: '#/components/parameters/vessel_id'
      - $ref: '#/components/parameters/charter_id'
      - $ref: '#/components/parameters/project_id'
      - $ref: '#/components/parameters/secret_id'
    get:
      tags:
        - project/secrets
      summary: Get project secret
      operationId: getProjectSecret
      security:
        - vesselCaptain: []
        - charterCaptain: []
      responses:
        '200':
          description: The request was successful, and the server has returned the requested resource in the response body.
          content:
            application/vnd.galley.v1+json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/Secret'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    patch:
      tags:
        - project/secrets
      summary: Update project secret
      operationId: updateProjectSecret
      security:
        - vesselCaptain: []
        - charterCaptain: []
      requestBody:
        required: true
        description: Updated secret information
        content:
          application/vnd.galley.v1+json:
            schema:
              $ref: '#/components/schemas/SecretUpdate'
      responses:
        '200':
          description: The request was successful, and the resource was updated.
          content:
            application/vnd.galley.v1+json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/Secret'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      tags:
        - project/secrets
      summary: Delete project secret
      operationId: deleteProjectSecret
      security:
        - vesselCaptain: []
        - charterCaptain: []
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /vessels/{vessel_id}/charters/{charter_id}/projects/{project_id}/configs:
    parameters:
      - $ref: '#/components/parameters/vessel_id'
      - $ref: '#/components/parameters/charter_id'
      - $ref: '#/components/parameters/project_id'
    get:
      tags:
        - project/configs
      summary: List configs for project
      operationId: listProjectConfigs
      security:
        - vesselCaptain: []
        - charterCaptain: []
      responses:
        '200':
          description: The request was successful, and the server has returned the requested resource in the response body.
          content:
            application/vnd.galley.v1+json:
              schema:
                type: object
                title: ListProjectConfigs
                required:
                  - data
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ConfigSummary'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      tags:
        - project/configs
      summary: Create config
      operationId: createProjectConfig
      security:
        - vesselCaptain: []
        - charterCaptain: []
      requestBody:
        required: true
        description: Config information to create
        content:
          application/vnd.galley.v1+json:
            schema:
              $ref: '#/components/schemas/ConfigCreate'
      responses:
        '201':
          description: The request was successful, and a new resource was created.
          content:
            application/vnd.galley.v1+json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/Config'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /vessels/{vessel_id}/charters/{charter_id}/projects/{project_id}/configs/{config_id}:
    parameters:
      - $ref: '#/components/parameters/vessel_id'
      - $ref: '#/components/parameters/charter_id'
      - $ref: '#/components/parameters/project_id'
      - $ref: '#/components/parameters/config_id'
    get:
      tags:
        - project/configs
      summary: Get project config
      operationId: getProjectConfig
      security:
        - vesselCaptain: []
        - charterCaptain: []
        - charterBoatswain: []
        - charterSteward: []
      responses:
        '200':
          description: The request was successful, and the server has returned the requested resource in the response body.
          content:
            application/vnd.galley.v1+json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/Config'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    patch:
      tags:
        - project/configs
      summary: Update project config
      operationId: updateProjectConfig
      security:
        - vesselCaptain: []
        - charterCaptain: []
        - charterBoatswain: []
        - charterSteward: []
      requestBody:
        required: true
        description: Updated config information
        content:
          application/vnd.galley.v1+json:
            schema:
              $ref: '#/components/schemas/ConfigUpdate'
      responses:
        '200':
          description: The request was successful, and the resource was updated.
          content:
            application/vnd.galley.v1+json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/Config'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      tags:
        - project/configs
      summary: Delete project config
      operationId: deleteProjectConfig
      security:
        - vesselCaptain: []
        - charterCaptain: []
        - charterBoatswain: []
        - charterSteward: []
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /vessels/{vessel_id}/charters/{charter_id}/crew:
    parameters:
      - $ref: '#/components/parameters/vessel_id'
      - $ref: '#/components/parameters/charter_id'
    get:
      tags:
        - charter/crew
      summary: List crew within this vessel where the charter is part of. Vessel owner/captains can view crew members of all charters accross the vessel. Charter owners/captains and pursers can only view crew members of their own charter.
      operationId: listCrewMembersOfACharter
      security:
        - vesselCaptain: []
        - charterCaptain: []
        - charterPurser: []
      responses:
        '200':
          content:
            application/vnd.galley.v1+json:
              schema:
                type: object
                title: ListCrewMembers
                required:
                  - data
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/CharterCrewSummary'
          description: The request was successful, and the server has returned the requested resource in the response body.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      summary: Invite a crew member to charter
      operationId: inviteCrewMemberToCharter
      description: Creates a new record of type Crew
      tags:
        - charter/crew
      security:
        - vesselCaptain: []
        - charterCaptain: []
      requestBody:
        required: true
        description: Crew member information to create
        content:
          application/vnd.galley.v1+json:
            schema:
              $ref: '#/components/schemas/CrewCreate'
      responses:
        '201':
          description: The request was successful, and a new resource was created.
          content:
            application/vnd.galley.v1+json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/Crew'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /vessels/{vessel_id}/charters/{charter_id}/crew/{crew_id}:
    parameters:
      - $ref: '#/components/parameters/vessel_id'
      - $ref: '#/components/parameters/charter_id'
      - $ref: '#/components/parameters/crew_id'
    get:
      summary: Get single crew member
      operationId: getCharterCrewMember
      description: Returns a record of type Crew.
      tags:
        - charter/crew
      security:
        - vesselCaptain: []
        - charterCaptain: []
        - charterPurser: []
      responses:
        '200':
          description: The request was successful, and the server has returned the requested resource in the response body.
          content:
            application/vnd.galley.v1+json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/Crew'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    patch:
      summary: Update a crew member of a Charter
      operationId: updateCharterCrewMember
      description: This endpoint is limited to updating name, email of user object and update of the charter role
      tags:
        - charter/crew
      security:
        - vesselCaptain: []
        - charterCaptain: []
        - charterPurser: []
      requestBody:
        required: true
        description: Updated crew member information
        content:
          application/vnd.galley.v1+json:
            schema:
              $ref: '#/components/schemas/CrewUpdate'
      responses:
        '200':
          description: The request was successful, and the server has returned the requested resource in the response body.
          content:
            application/vnd.galley.v1+json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/Crew'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      summary: Delete a crew member from a charter
      operationId: deleteCharterCrewMember
      description: 'Delete a crew member from a charter. This endpoint can only delete crew members which are tied to the charter via the `crew_charter_member` table. Therefor it can only remove crew members with `vessel_role: member`'
      tags:
        - charter/crew
      security:
        - vesselCaptain: []
        - charterCaptain: []
        - charterPurser: []
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /vessels/{vessel_id}/charters/{charter_id}/crew/{crew_id}/accept:
    parameters:
      - $ref: '#/components/parameters/vessel_id'
      - $ref: '#/components/parameters/charter_id'
      - $ref: '#/components/parameters/crew_id'
    patch:
      summary: Accept a charter crew invitation
      operationId: acceptCharterCrewInvitation
      description: Accepts a charter crew invitation that was sent via email, activating the crew member's access to the charter
      security:
        - vesselCaptain: []
        - charterCaptain: []
        - charterBoatswain: []
        - charterPurser: []
        - charterDeckhand: []
        - charterSteward: []
      tags:
        - charter/crew
      responses:
        '200':
          description: The request was successful, and the invitation has been accepted. The crew member now has active access to the charter.
          content:
            application/vnd.galley.v1+json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/Crew'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /vessels/{vessel_id}/chef/chat:
    parameters:
      - $ref: '#/components/parameters/vessel_id'
    post:
      tags:
        - chef
      operationId: chatWithChefVesselContext
      summary: Chat with The Chef in Vessel-wide context
      security:
        - vesselCaptain: []
      requestBody:
        required: true
        content:
          application/vnd.galley.v1+json:
            schema:
              type: object
              required:
                - message
              properties:
                message:
                  type: string
                  description: The message to send to The Chef
      responses:
        '200':
          description: Stream of chat responses from The Chef
          content:
            application/json:
              schema:
                type: object
                required:
                  - type
                  - content
                properties:
                  type:
                    type: string
                    enum:
                      - message
                      - error
                      - complete
                  content:
                    type: string
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /vessels/{vessel_id}/charters/{charter_id}/chef/chat:
    parameters:
      - $ref: '#/components/parameters/vessel_id'
      - $ref: '#/components/parameters/charter_id'
    post:
      tags:
        - chef
      operationId: chatWithChefCharterContext
      summary: Chat with The Chef in Charter context
      security:
        - vesselCaptain: []
        - charterCaptain: []
        - charterBoatswain: []
        - charterDeckhand: []
        - charterSteward: []
        - charterPurser: []
      requestBody:
        required: true
        content:
          application/vnd.galley.v1+json:
            schema:
              type: object
              required:
                - message
              properties:
                message:
                  type: string
                  description: The message to send to The Chef
      responses:
        '200':
          description: Stream of chat responses from The Chef
          content:
            application/json:
              schema:
                type: object
                required:
                  - type
                  - content
                properties:
                  type:
                    type: string
                    enum:
                      - message
                      - error
                      - complete
                  content:
                    type: string
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /vessels/{vessel_id}/charters/{charter_id}/projects/{project_id}/chef/chat:
    parameters:
      - $ref: '#/components/parameters/vessel_id'
      - $ref: '#/components/parameters/charter_id'
      - $ref: '#/components/parameters/project_id'
    post:
      summary: Chef chat for project scope (placeholder)
      tags:
        - chef
      operationId: chatWithChefProjectContext
      security:
        - vesselCaptain: []
        - charterCaptain: []
        - charterBoatswain: []
        - charterDeckhand: []
        - charterSteward: []
        - charterPurser: []
      responses:
        '200':
          description: OK
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /users/me:
    get:
      tags:
        - users/me
      summary: Get current user profile (placeholder)
      operationId: getMyProfile
      security:
        - vesselCaptain: []
        - charterCaptain: []
        - charterBoatswain: []
        - charterSteward: []
        - charterPurser: []
        - charterDeckhand: []
      responses:
        '200':
          description: OK
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /users/me/api-keys:
    get:
      tags:
        - users/me/api-keys
      summary: List API keys for current user
      operationId: listMyApiKeys
      security:
        - vesselCaptain: []
        - charterCaptain: []
        - charterBoatswain: []
        - charterSteward: []
        - charterPurser: []
        - charterDeckhand: []
      responses:
        '200':
          description: The request was successful, and the server has returned the requested resource in the response body.
          content:
            application/vnd.galley.v1+json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ApiKeySummary'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      tags:
        - users/me/api-keys
      summary: Create API key for current user
      operationId: createMyApiKey
      security:
        - vesselCaptain: []
        - charterCaptain: []
        - charterBoatswain: []
        - charterSteward: []
        - charterPurser: []
        - charterDeckhand: []
      requestBody:
        required: true
        description: API key information to create
        content:
          application/vnd.galley.v1+json:
            schema:
              $ref: '#/components/schemas/ApiKeyCreate'
      responses:
        '201':
          description: The request was successful, and a new resource was created.
          content:
            application/vnd.galley.v1+json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/ApiKey'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /users/me/api-keys/{api_key_id}:
    parameters:
      - $ref: '#/components/parameters/api_key_id'
    get:
      tags:
        - users/me/api-keys
      summary: Get API key by ID
      operationId: getMyApiKey
      security:
        - vesselCaptain: []
        - charterCaptain: []
        - charterBoatswain: []
        - charterSteward: []
        - charterPurser: []
        - charterDeckhand: []
      responses:
        '200':
          description: The request was successful, and the server has returned the requested resource in the response body.
          content:
            application/vnd.galley.v1+json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/ApiKey'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /users/me/webauthn/credentials:
    get:
      tags:
        - users/me/webauthn
      summary: List WebAuthn credentials for current user
      operationId: listMyWebAuthnCredentials
      security:
        - vesselCaptain: []
        - charterCaptain: []
        - charterBoatswain: []
        - charterSteward: []
        - charterPurser: []
        - charterDeckhand: []
      responses:
        '200':
          description: The request was successful, and the server has returned the requested resource in the response body.
          content:
            application/vnd.galley.v1+json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/WebAuthnCredentialSummary'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /users/me/webauthn/credentials/{credential_id}:
    parameters:
      - $ref: '#/components/parameters/credential_id'
    get:
      tags:
        - users/me/webauthn
      summary: Get WebAuthn credential by ID
      operationId: getMyWebAuthnCredential
      security:
        - vesselCaptain: []
        - charterCaptain: []
        - charterBoatswain: []
        - charterSteward: []
        - charterPurser: []
        - charterDeckhand: []
      responses:
        '200':
          description: The request was successful, and the server has returned the requested resource in the response body.
          content:
            application/vnd.galley.v1+json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/WebAuthnCredential'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /auth/sign-up:
    post:
      tags:
        - auth
      summary: Sign up
      operationId: signUp
      security: []
      requestBody:
        required: true
        content:
          application/vnd.galley.v1+json:
            schema:
              $ref: '#/components/schemas/SignUp'
      responses:
        '200':
          description: OK
          content:
            application/vnd.galley.v1+json:
              schema:
                type: object
                properties:
                  data:
                    type: object
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /auth/sign-in:
    post:
      tags:
        - auth
      summary: Sign in
      operationId: signIn
      security: []
      requestBody:
        required: true
        content:
          application/vnd.galley.v1+json:
            schema:
              type: object
      responses:
        '200':
          description: OK
          content:
            application/vnd.galley.v1+json:
              schema:
                type: object
                properties:
[...]
