openapi: 3.1.0
info:
  title: Galley API
  version: 0.1.0
  description: The main Galley API spec where the Galley UI will be built upon
  license:
    name: Business Source License
    identifier: BUSL-1.1
servers:
  - url: https://api.galley.run
    description: Hosted Platform - Production
tags:
  - description: Manage vessel
    name: vessel
  - description: Manage the vessel engine
    name: vessel/engine
  - description: Manage vessel billing profile
    name: vessel/billing-profile
  - description: Manage vessel logbook
    name: vessel/logbook
  - description: Manage the vessel's SSH keys and other secrets shared accross tenants
    name: vessel/locker
  - description: Managing the crew of the vessel
    name: vessel/crew
  - description: Manage charters within a vessel
    name: charter
  - description: Manage charter billing profile
    name: charter/billing-profile
  - description: Manage charter logbook
    name: charter/logbook
  - description: Managing the crew of the charter
    name: charter/crew
  - description: Manage projects within a charter
    name: project
  - description: Manage applications within a project
    name: project/applications
  - description: Manage databases within a project
    name: project/databases
  - description: Manage secrets within a project
    name: project/secrets
  - description: Manage configs within a project
    name: project/configs
  - description: Manage API Gateway within a project
    name: project/api-gateway
  - description: Current user profile
    name: users/me
  - description: Manage API keys for the current user
    name: users/me/api-keys
  - description: Manage WebAuthn credentials for the current user
    name: users/me/webauthn
  - description: Authentication endpoints
    name: auth
  - description: The Chef AI Agent which can guide you through Galley and can give you recommendations specific to your needs on Vessel scope
    name: chef
paths:
  /vessels/{vesselId}/charters:
    parameters:
      - $ref: '#/components/parameters/vesselId'
    get:
      tags:
        - charter
      summary: List charters within this vessel. Will list all charters in vessel for vessel captains, will list a limited set of charters vessel members.
      operationId: charter.query.list
      security:
        - vesselCaptain: []
        - charterCaptain: []
        - charterBoatswain: []
        - charterDeckhand: []
        - charterSteward: []
        - charterPurser: []
      responses:
        '200':
          content:
            application/vnd.galley.v1+json:
              schema:
                type: object
                title: ListCharters
                required:
                  - data
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/CharterSummary'
          description: The request was successful, and the server has returned the requested resource in the response body.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      summary: Add a charter to the vessel
      operationId: charter.cmd.create
      description: Creates a new record of type Charter
      tags:
        - charter
      security:
        - vesselCaptain: []
      responses:
        '201':
          description: The request was successful, and a new resource was created.
          content:
            application/vnd.galley.v1+json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/Charter'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '500':
          $ref: '#/components/responses/InternalServerError'
      requestBody:
        required: true
        description: Charter creation data
        content:
          application/vnd.galley.v1+json:
            schema:
              $ref: '#/components/schemas/CharterCreate'
  /vessels/{vesselId}/charters/{charterId}:
    parameters:
      - $ref: '#/components/parameters/vesselId'
      - $ref: '#/components/parameters/charterId'
    get:
      tags:
        - charter
      summary: View a Charter within a Vessel. Charter Captains and Pursers can only see details of their own charter. Vessel Captains can see any charter within their vessel.
      operationId: charter.query.get
      security:
        - vesselCaptain: []
        - charterCaptain: []
        - charterPurser: []
      responses:
        '200':
          content:
            application/vnd.galley.v1+json:
              schema:
                type: object
                title: SingleCharter
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/Charter'
          description: The request was successful, and the server has returned the requested resource in the response body.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    patch:
      summary: Update a Charter
      operationId: charter.cmd.patch
      description: Partially updates a record of type Charter
      tags:
        - charter
      security:
        - vesselCaptain: []
      responses:
        '200':
          description: The request was successful, and the server has returned the requested resource in the response body.
          content:
            application/vnd.galley.v1+json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/Charter'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '500':
          $ref: '#/components/responses/InternalServerError'
      requestBody:
        required: true
        description: Charter update data
        content:
          application/vnd.galley.v1+json:
            schema:
              $ref: '#/components/schemas/CharterUpdate'
    delete:
      summary: Delete a Charter
      operationId: charter.cmd.delete
      description: Deletes a record of type Charter.
      tags:
        - charter
      security:
        - vesselCaptain: []
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /vessels/{vesselId}/charters/{charterId}/projects:
    parameters:
      - $ref: '#/components/parameters/vesselId'
      - $ref: '#/components/parameters/charterId'
    get:
      tags:
        - project
      summary: List projects for charter
      operationId: project.query.list
      security:
        - vesselCaptain: []
        - charterCaptain: []
        - charterBoatswain: []
        - charterDeckhand: []
        - charterSteward: []
        - charterPurser: []
      responses:
        '200':
          description: The request was successful, and the server has returned the requested resource in the response body.
          content:
            application/vnd.galley.v1+json:
              schema:
                type: object
                title: ListProjects
                required:
                  - data
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ProjectSummary'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /auth/refresh-token:
    post:
      tags:
        - auth
      summary: Refresh RefreshToken
      description: Rotate RefreshToken and return new RefreshToken. Will extend the RefreshToken's lifetime.
      operationId: auth.refreshToken.cmd.issue
      security: []
      requestBody:
        required: true
        content:
          application/vnd.galley.v1+json:
            schema:
              $ref: '#/components/schemas/RefreshToken'
      responses:
        '200':
          description: OK
          content:
            application/vnd.galley.v1+json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/RefreshToken'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /auth/access-token:
    post:
      tags:
        - auth
      summary: Refresh AccessToken
      description: Rotate AccessToken and return new AccessToken.
      operationId: auth.accessToken.cmd.issue
      security: []
      requestBody:
        required: true
        content:
          application/vnd.galley.v1+json:
            schema:
              $ref: '#/components/schemas/RefreshToken'
      responses:
        '200':
          description: OK
          content:
            application/vnd.galley.v1+json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/AccessToken'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /auth/sign-in:
    post:
      tags:
        - auth
      summary: Sign in
      operationId: auth.cmd.issue
      security: []
      requestBody:
        required: true
        content:
          application/vnd.galley.v1+json:
            schema:
              $ref: '#/components/schemas/SignIn'
      responses:
        '200':
          description: OK
          content:
            application/vnd.galley.v1+json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/RefreshToken'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
components:
  securitySchemes:
    vesselCaptain:
      type: http
      scheme: bearer
      description: Role Vessel Captain Acts as Charter Captain and is able to manage anything above the charter level.
      bearerFormat: JWT
      x-vessel-role: captain
    charterCaptain:
      type: http
      scheme: bearer
      description: Role Charter Captain Consider this role the Charter Admin, may do and see all project, charter and vessel related stuff where the charter is part of.
      bearerFormat: JWT
      x-vessel-role: member
      x-charter-role: captain
    charterPurser:
      type: http
      scheme: bearer
      description: Role Charter Purser May access charter billing and crew management but only view projects details
      bearerFormat: JWT
      x-vessel-role: member
      x-charter-role: purser
    charterBoatswain:
      type: http
      scheme: bearer
      description: Role Charter Boatswain May do and see all project related stuff
      bearerFormat: JWT
      x-vessel-role: member
      x-charter-role: boatswain
    charterDeckhand:
      type: http
      scheme: bearer
      description: Role Charter Deckhand May deploy but can not view secrets or project settings.
      bearerFormat: JWT
      x-vessel-role: member
      x-charter-role: deckhand
    charterSteward:
      type: http
      scheme: bearer
      description: Role Charter Steward This is a supporting role, may only view and monitor deploys.
      bearerFormat: JWT
      x-vessel-role: member
      x-charter-role: steward
  parameters:
    vesselId:
      name: vesselId
      in: path
      required: true
      schema:
        type: string
        format: uuid
    charterId:
      name: charterId
      in: path
      required: true
      schema:
        type: string
        format: uuid
  schemas:
    JSONAPIResource:
      type: object
      required:
        - id
        - type
        - attributes
      properties:
        id:
          type: string
          description: Resource identifier
        type:
          type: string
          description: Resource type
        attributes:
          type: object
          description: Resource attributes
    CharterSummary:
      allOf:
        - $ref: '#/components/schemas/JSONAPIResource'
        - type: object
          description: A simplified representation of a Charter, typically used in list views.
          required:
            - id
            - type
            - attributes
          properties:
            id:
              type: string
              format: uuid
              examples:
                - 27D9B362-0BB3-4F8D-B8E6-CF7FCEE2F327
            type:
              type: string
              enum:
                - Charter
              description: Resource type
            attributes:
              type: object
              required:
                - name
                - vesselId
              properties:
                name:
                  type: string
                  examples:
                    - Clicqo
                description:
                  type:
                    - string
                    - 'null'
                  examples:
                    - Our company charter for production workloads
                vesselId:
                  type: string
                  format: uuid
                  examples:
                    - 972BE567-D652-4A7E-8967-B59C7E68085E
    CharterCreate:
      type: object
      required:
        - name
      description: Data transfer object for creating a new Charter.
      properties:
        name:
          type: string
          minLength: 1
          examples:
            - Clicqo
        description:
          type:
            - string
            - 'null'
          examples:
            - Our company
    Charter:
      allOf:
        - $ref: '#/components/schemas/JSONAPIResource'
        - type: object
          description: Full Charter entity representation for Single Get.
          required:
            - id
            - type
            - attributes
          properties:
            id:
              type: string
              format: uuid
              description: Unique charter identifier
              examples:
                - 27D9B362-0BB3-4F8D-B8E6-CF7FCEE2F327
            type:
              type: string
              enum:
                - Charter
              description: Resource type
            attributes:
              type: object
              required:
                - name
                - description
                - vesselId
              properties:
                vesselId:
                  type: string
                  format: uuid
                  description: Vessel this charter belongs to
                  examples:
                    - 972BE567-D652-4A7E-8967-B59C7E68085E
                name:
                  type: string
                  description: Charter name
                  examples:
                    - Clicqo
                description:
                  type:
                    - string
                    - 'null'
                  description: Charter description
                  examples:
                    - Our company charter for production workloads
    CharterUpdate:
      type: object
      required:
        - name
      description: Data transfer object for updating a Charter.
      properties:
        name:
          type: string
          examples:
            - Clicqo
        description:
          type:
            - string
            - 'null'
          examples:
            - Clicqo
    ProjectSummary:
      allOf:
        - $ref: '#/components/schemas/JSONAPIResource'
        - type: object
          description: Simplified project representation used for listings.
          required:
            - id
            - type
            - attributes
          properties:
            id:
              type: string
              format: uuid
              description: Project ID (UUID)
            type:
              type: string
              enum:
                - Project
              description: Resource type
            attributes:
              type: object
              required:
                - charterId
                - name
                - environment
              properties:
                charterId:
                  type: string
                  description: Charter ID (UUID)
                name:
                  type: string
                environment:
                  type: string
                  description: Environment name (e.g. production, staging)
                purpose:
                  type: string
                deletedAt:
                  type: string
                  format: date-time
    RefreshToken:
      type: object
      required:
        - refreshToken
      properties:
        refreshToken:
          type: string
          example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiYWRtaW4iOnRydWUsImlhdCI6MTUxNjIzOTAyMn0.KMUFsIDTnFmyG3nMiGM6H9FNFUROf3wh7SmqJp-QV30
    AccessToken:
      type: object
      required:
        - accessToken
      properties:
        accessToken:
          type: string
          example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiYWRtaW4iOnRydWUsImlhdCI6MTUxNjIzOTAyMn0.KMUFsIDTnFmyG3nMiGM6H9FNFUROf3wh7SmqJp-QV30
    SignIn:
      type: object
      required:
        - email
      properties:
        email:
          type: string
          format: email
          description: User's email address
  responses:
    BadRequest:
      content:
        application/vnd.galley.v1+json:
          schema:
            type: object
            required:
              - errors
            properties:
              errors:
                type: array
                items:
                  type: object
                  required:
                    - title
                    - status
                  properties:
                    status:
                      type: string
                    title:
                      type: string
      description: The server could not understand the request due to invalid syntax. The client should modify the request and try again.
    Unauthorized:
      description: Authentication is required to access the requested resource. The client must include the appropriate credentials.
    Forbidden:
      content:
        application/vnd.galley.v1+json:
          schema:
            type: object
            required:
              - errors
            properties:
              errors:
                type: array
                items:
                  type: object
                  required:
                    - title
                    - status
                  properties:
                    status:
                      type: string
                    title:
                      type: string
      description: The server understood the request, but refuses to authorize it. Ensure the client has appropriate permissions.
    NotFound:
      description: The server cannot find the requested resource. The endpoint may be invalid or the resource may no longer exist.
    InternalServerError:
      content:
        application/vnd.galley.v1+json:
          schema:
            type: object
            required:
              - errors
            properties:
              errors:
                type: array
                items:
                  type: object
                  required:
                    - title
                    - status
                  properties:
                    status:
                      type: string
                    title:
                      type: string
      description: The server encountered an unexpected condition that prevented it from fulfilling the request. Report the issue to the support team if it persists.
    Conflict:
      description: The request could not be completed due to a conflict with the current state of the resource.
      content:
        application/vnd.galley.v1+json:
          schema:
            type: object
            required:
              - errors
            properties:
              errors:
                type: array
                items:
                  type: object
                  required:
                    - title
                    - status
                  properties:
                    status:
                      type: string
                    title:
                      type: string
    UnsupportedMediaType:
      description: The request could not be completed due to a conflict with the content type of the request body.
      content:
        application/vnd.galley.v1+json:
          schema:
            type: object
            required:
              - errors
            properties:
              errors:
                type: array
                items:
                  type: object
                  required:
                    - title
                    - status
                  properties:
                    status:
                      type: string
                    title:
                      type: string
    NoContent:
      description: The server has successfully fulfilled the request and there is no additional content to send in the response payload body.
