
name: release

on:
  push:
    tags:
      - 'v*.*.*'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.23.x'

      - name: Build
        run: |
          chmod +x scripts/build.sh
          scripts/build.sh "${GITHUB_REF_NAME}"

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: galley-${{ github.ref_name }}
          path: dist/*

  publish-gh-release:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Download artifacts
        uses: actions/download-artifact@v4
        with:
          name: galley-${{ github.ref_name }}
          path: dist

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ github.ref_name }}
          name: ${{ github.ref_name }}
          draft: false
          prerelease: false
          files: |
            dist/galley-*
            dist/SHA256SUMS
